.page-profile {
    margin: -15px 0 0;

    .profile-header {
        position: relative;
        margin: 0 -30px 15px;
        padding: 50px 30px 90px;
        background: url('../images/bb.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .profile-img {
        display: inline-block;
        margin-right: 20px;
        img {
            max-width: 120px;
            height: auto;
            box-shadow: 0 0 0 5px rgba(255,255,255,.5), 0 0 10px rgba(0,0,0,.2);
        }
    }

    .profile-social {
        display: inline-block;
        > a {
            margin-right: 15px;
            box-shadow: 0 0 5px rgba(0,0,0,.2);
        }
    }

    .profile-info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.3);
        line-height: 20px;
        padding: 10px 30px;
        color: $bright;

        ul {
            margin: 0;
        }
    }

    img.media-object {
        border-radius: $border-radius-base;
    }
}
body.body-mainhome.body-profile .top-nav ul.nav-left {
  display: block;
}

.page-profile .profile-header {
    position: relative;
    margin: 0 -30px 15px;
    padding: 43px 30px 35px;
    background: url(../images/bb.png) no-repeat center center fixed;
    background-size: cover;
    margin-top: 36px;
    background: #7b7979;
}


table.profile tr td {
    padding: 1px 20px;
}

table.profile tr td:last-child {
    color: #0c0c0c;
}

table.profile tr td:first-child {
    color: #5d5b5b;
    /* font-size: 13px; */
}
table.profile{    line-height: 27px;}