<div class="page page-table" data-ng-controller="AuditUserTaskRateCtrl" ng-init="show = 1">


    <div class="animate-fade-up" ng-show="show == 1">
        <div class="row ui-section topbar">
            <div class="col-xs-6 clearfix">
                <h2 class="section-header" style="display: inline-block">Audit User Task Rate</h2>
            </div>
           <div class="col-xs-6 clearfix" style="text-align: right;">              
                <span>                
                    
                    <a style="padding-left: 5px;" ng-show="listallinvoice.length>0">
                        <button ng-click="exceller()" style="margin-top: 8px" class="md-raised btn-sm md-primary md-button md-ink-ripple"><span class="ng-scope"><i class="zmdi zmdi-download"></i>&nbsp; Download Invoice</span></button>
                    </a>
                </span>
                
            </div>
        </div>
        <div class="row ui-section">
            <section class="panel panel-default table-dynamic">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-3 ">
                            <form>
                                <input type="text"
                                    placeholder="Search..."
                                    class="form-control"
                                    data-ng-model="searchKeywords"
                                    data-ng-keyup="search()" style="border-radius: 29px;">
                            </form>
                        </div>

                        <div class="col-sm-3 page-num-info">
                            <span>Show
                                <select class="pageno" data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                                </select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a style="padding-left: 5px;" ng-show="selected.length>0">
                                <button ng-click="bulkSaveAudit(1)" style="margin-top: 8px;background-color: #28a745!important;" class="md-raised btn-sm md-primary md-button md-ink-ripple bg-success"><span class="ng-scope"><i class="zmdi zmdi-download"></i>&nbsp; Approved</span></button>                    
                                <button ng-click="bulkSaveAudit(0)" style="margin-top: 8px;background-color: #dc3545!important;" class="md-raised btn-sm md-primary md-button md-ink-ripple bg-danger"><span class="ng-scope"><i class="zmdi zmdi-download"></i>&nbsp; Rejected</span></button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="table-responsive table-bordered">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                
                                <th>
                                    <div class="th">
                                         S.No
                                    </div>
                                </th>
                                <th>
                                    <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
                                </th>
                                  <th>
                                    <div class="th">
                                        Project
                                        <span class="fa fa-angle-up"
                                            data-ng-click=" order('projectname') "
                                            data-ng-class="{active: row == 'projectname'}"></span>
                                        <span class="fa fa-angle-down"
                                            data-ng-click=" order('-projectname') "
                                            data-ng-class="{active: row == '-projectname'}"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Task
                                        <span class="fa fa-angle-up"
                                            data-ng-click=" order('taskname') "
                                            data-ng-class="{active: row == 'taskname'}"></span>
                                        <span class="fa fa-angle-down"
                                            data-ng-click=" order('-taskname') "
                                            data-ng-class="{active: row == '-taskname'}"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Target
                                        <span class="fa fa-angle-up"
                                            data-ng-click=" order('targetname') "
                                            data-ng-class="{active: row == 'targetname'}"></span>
                                        <span class="fa fa-angle-down"
                                            data-ng-click=" order('-targetname') "
                                            data-ng-class="{active: row == '-targetname'}"></span>
                                    </div>
                                </th>
                               
                                <th>
                                    <div class="th">
                                        Isp/Agency
                                        <span class="fa fa-angle-up"
                                            data-ng-click=" order('username') "
                                            data-ng-class="{active: row == 'username'}"></span>
                                        <span class="fa fa-angle-down"
                                            data-ng-click=" order('-username') "
                                            data-ng-class="{active: row == '-username'}"></span>
                                    </div>
                                </th>
                               
                                <!-- <th>
                                    <div class="th">
                                        Isp/Agency Contact
                                        <span class="fa fa-angle-up"
                                            data-ng-click=" order('contactno') "
                                            data-ng-class="{active: row == 'contactno'}"></span>
                                        <span class="fa fa-angle-down"
                                            data-ng-click=" order('-contactno') "
                                            data-ng-class="{active: row == '-contactno'}"></span>
                                    </div>
                                </th> -->
                                <th>
                                    <div class="th">
                                        Amount
                                        <span class="fa fa-angle-up"
                                            data-ng-click=" order('rate') "
                                            data-ng-class="{active: row == 'rate'}"></span>
                                        <span class="fa fa-angle-down"
                                            data-ng-click=" order('-rate') "
                                            data-ng-class="{active: row == '-rate'}"></span>
                                    </div>
                                </th>                               
                                <th>
                                    <div class="th">
                                        Action
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rowData in currentPageresultData">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>
                                    <md-checkbox aria-label="ch{{$index+1}}" ng-checked="exists(rowData, selected)" ng-click="toggle(rowData, selected)"> </md-checkbox>
                                </td>
                                <td>{{rowData.projectname}}</td>
                                <td>{{rowData.taskname}}</td>
                                <td>{{rowData.targetname}}</td>
                                <td>{{rowData.username}}</td>
                                <!-- <td>{{rowData.contactno}}</td> -->
                               <td style="text-align:right">{{rowData.rate | number:2}} </td>                               
                                <td style="padding: 0px" ng-show="access_permission.editshow">
                                    <div class="action" style="width: 0px!important">
                                        <button ng-click="singleSaveAudit(rowData,1)" class="md-icon-button md-button md-ink-ripple bg-success text-white"><span title="Pay" class="zmdi zmdi-check"></span></button>
                                        <button ng-click="singleSaveAudit(rowData,0)" class="md-icon-button md-button md-ink-ripple bg-danger text-white"><span title="Pay">x</span></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="table-footer">
                    <div class="row">

                        <div class="col-sm-6 filter-result-info">
                            <span>Showing {{filteredresultData.length}}/{{resultData.length}} entries
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredresultData.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>

    </div>

 
    <div class="animate-fade-up" id="#IDTITLE#add " ng-show="show == 2">
        <div class="row ui-section">
            <div class="col-xs-8 clearfix">
                <h2 class="section-header" style="display: inline-block">Payment</h2>
            </div>
            <div class="col-xs-4 clearfix" style="text-align: right">
                <span class="showon" style="float: right; margin-top: 10px;" clearfix>
                    <a ng-click="show = 1">
                        <button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button" aria-label="view Task"><span class="fa fa-caret-right ng-scope"></span></button>
                    </a>
                </span>
                <a ng-click="show =1" class="hideon">
                    <button style="margin-top: 8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View Task"><span class="ng-scope">Back</span></button>
                </a>
            </div>
        </div>
        <div class="row ui-section">
            <div class="panel panel-default">
               <!-- <div class="col-md-12">
                                     <button data-ng-disabled="true" style="margin-top: 8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button"><span class="ng-scope">Provious</span></button>
                                     <button data-ng-disabled="true" style="margin-top: 8px;float: right;" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" ><span class="ng-scope">Next</span></button>

                                </div>-->
                <div class="panel-body padding-xl form-validation" ng-cloak>                     
                    <div class="row">

                       <div class="col-sm-6">
                            <form name="material_invoice_form" class="form-horizontal form-validation" >
            <table style="width: 100%" class="tablee">
            <!--<tr>
                <th>Is Accepted</th>
                <td>:</td>
                <td>
                    <md-input-container  class="col-md-6" style="top: 15px;">
                        <md-radio-group class="ui-md-radio-group-inline" ng-model="invoice.isaccepted" style="    display: inline-flex;" >
                            <md-radio-button style="margin:0px" ng-value="1" >Yes</md-radio-button>
                            <md-radio-button style="margin:0px" ng-value="0">No</md-radio-button>                                    
                        </md-radio-group>
                    </md-input-container>
                </td>
            </tr>-->
           <!-- <tr>
                <th>Payment Status </th>
                <td>:</td>
                <td>
                    <md-input-container flex="" class="flex ">
                        <md-select ng-model="invoice.paidstatusid" class="mandatoryselect" required >
                           <md-option ng-value="paymentstatus.id" data-ng-repeat="paymentstatus in listpaymentstatus">
                                {{paymentstatus.paymentstatusname}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
            </tr>-->
             <tr ng-show="invoice.paidstatusid==5">
                <th>Payment Mode </th>
                <td>:</td>
                <td>
                    <md-input-container flex="" class="flex ">
                        <md-select ng-required="invoice.paidstatusid==5" ng-model="invoice.paymentmodeid" class="mandatoryselect"  >
                            <md-option ng-value="paymentmode.id" data-ng-repeat="paymentmode in listpaymentmode">
                                {{paymentmode.paymentmodename}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
            </tr>
            <tr  ng-show="invoice.paidstatusid==5">
                <th>Invoice Amount </th>
                <td>:</td>
                <td>
                    <md-input-container flex="" >
                        <input readonly ng-required="invoice.paidstatusid==5"  style="text-align:right" type="text"name="totalamt" ng-model="invoice.totalamt"  />
                    </md-input-container>
                     
                </td>
            </tr>
                <tr  ng-show="invoice.paidstatusid==5">
                <th>Balance Amount </th>
                <td>:</td>
                <td>
                    <md-input-container flex="" >
                        <input readonly  style="text-align:right" type="text"name="balanceamount" ng-model="invoice.balanceamount"  />
                    </md-input-container>
                </td>
            </tr>
            <tr  ng-show="invoice.paidstatusid==5">
                <th>Penalty </th>
                <td>:</td>
                <td>
                    <md-input-container flex="" >
                        <input style="text-align:right" type="text"name="penalty" ng-model="invoice.penalty"   />
                    </md-input-container>
                     
                </td>
            </tr>
            <tr  ng-if="invoice.paidstatusid==5 && invoice.penalty != 0">
                <th>Penalty Reason</th>
                <td>:</td>
                <td>
                    <md-input-container flex="" >
                        <input style="text-align:right" ng-required="invoice.paidstatusid==5" type="text"name="penaltyreason" ng-model="invoice.penaltyreason"   />
                    </md-input-container>
                     
                </td>
            </tr>
            <tr  ng-show="invoice.paidstatusid==5">
                <th>Paid Amount </th>
                <td>:</td>
                <td>
                    <md-input-container flex="" >
                    <input  ng-required="invoice.paidstatusid==5" style="text-align:right" type="text"name="paidamt" ng-model="invoice.paidamt"  />
                 </md-input-container>
                </td>
            </tr>
                <tr  ng-show="invoice.paidstatusid==5">
                <th>Payment Ref.no </th>
                <td>:</td>
                <td>
                    <md-input-container flex="" >
                        <input  type="text"name="paymentref"  ng-required="invoice.paidstatusid==5" ng-maxlength="100"  ng-model="invoice.paymentref"  />

                        <div ng-messages="material_invoice_form.paymentref.$error" multiple ng-if='material_invoice_form.paymentref.$dirty'> 
                            <div ng-message="required">Payment Ref.no is required.</div>
                            <div ng-message="maxlength">Payment Ref.no up to 100 characters</div>
                        </div>  
                    </md-input-container>
                     
                </td>
            </tr>
                <tr  ng-show="invoice.paidstatusid==5">
                <th>Payment Description </th>
                <td>:</td>
                <td>
                    <md-input-container flex="" >
                        <input  type="text"name="paymentdesc"  ng-maxlength="200"  ng-model="invoice.paymentdesc"  />
                         <div ng-messages="material_invoice_form.paymentdesc.$error" multiple ng-if='material_invoice_form.paymentdesc.$dirty'> 
                            <div ng-message="required">Description is required.</div>
                            <div ng-message="maxlength">Description up to 200 characters</div>
                        </div> 
                    </md-input-container>
                     
                </td>
            </tr>
            <tr  ng-show="invoice.paidstatusid==4">
                <th>Reject Reason </th>
                <td>:</td>
                <td>
                    <md-input-container flex="" >
                        <input ng-required="invoice.paidstatusid==4" type="text"name="rejectreason" maxlength="250"  ng-model="invoice.rejectreason"  />
                    </md-input-container>
                     
                </td>
            </tr>
                <tr ng-show="invoice.paidstatusid==5">
                    <td colspan="3" style="text-align: center">
                        <div class="panel-body padding-xl" style="font-size: 20px">
                            <uib-rating class="ui-rating size-h3"
                            ng-model="rate"
                            max="5"
                            readonly="false"
                            ng-change="getSelectedRating(rate)"
                            
                            on-leave="overStar = null"
                            state-on="'fa fa-star'"
                            state-off="'fa fa-star-o'"></uib-rating>
                          
                        </div>
                    </td>
                </tr>
               <tr>
                   
               </tr> 
               
           <tr ng-show="access_permission.addshow">
               <td></td>
               <td style="text-align: center">
                       <a href="{{FilePath}}{{invoice.invoicepth}}" target="_blank" >
                    <button class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="Add Contacttype<" ng-click="addContacttype()"><span class="ng-scope">View invoice</span></button></a>

                       <!-- <a href="{{FilePath}}{{invoice.invoicepth}}" target="_blank" style="color:red"></a>-->
                   </td>
                <td  style="text-align: center">
                   <md-button type="submit" ng-click="savepayment(invoice)"
                                            class="md-raised btn-w-md md-primary"
                                            data-ng-disabled="!canSubmit()">Save</md-button>
                </td>
        </tr>
        </table>
        </form>
                       </div>
                        
                       
        

                    </div>
                </div>
            </div>

        </div>
    </div>


   


    <script type="text/ng-template" id="paymentContant.html">
    <div style="padding: 15px">

        <h4 style="text-align:center">Payment Info</h4>
        <form name="material_invoice_form" class="form-horizontal form-validation" >
            <table style="width: 100%" class="tablee">
            <tr>
                <th>Total Amount</th>
                <td>:</td>
                <td>
                    {{payment.paidamount}}
                </td>
            </tr>
            <tr>
                <th>Paid At </th>
                <td>:</td>
              
           <td data-ng-bind="payment.paiddate | date:'dd/MM/yyyy hh:mm:ss'"></td>
                   
                
            </tr>
             <tr >
                <th>Payment Mode </th>
                <td>:</td>
                <td>
                   {{payment.paymentmodename}}
                </td>
            </tr>
            <tr >
                <th>Payment By </th>
                <td>:</td>
                <td>
                     {{payment.firstname}}
                </td>
            </tr>
            
           <tr>
                <td colspan="2">
                   <md-button type="submit" ng-click="cancel()"
                                            class="md-raised btn-w-md md-primary"
                                           >Cancel</md-button>
                </td>
        </tr>
        </table>
        </form>
        

    </div>
    </script>

    <script type="text/ng-template" id="bulkpayment.html">

        <div class="modal-header">
            <h5 style="text-align: center;">Bulk Payment Process</h5>
                <div>
                    <div class="col-sm-4 ">
                        <button ui-wave class="btn btn-flat btn-default" style="background: #cbc3c3" ng-click="cancel()">Cancel</button>
                        <button ui-wave class="btn btn-flat btn-primary" style="background: #0c3344; color: white"  data-ng-disabled="!canSubmit_childform(target_form)" ng-click="ok()">Pay</button>
                    </div>
                </div>
        </div>
        <div class="modal-body">
            <div class="table-responsive">

                <ng-form name="target_form">
               
                <table class="storetable table">
                    <tr class="showonlyonce" id="Tr1">
                        <th>S.No</th>
                        <th>User Name </th>
                        <th>Invoice No </th>
                        <th>Invoice Amount </th>
                        <th>Paid Amount </th>
                        <th>Penalty</th>
                        <th>Payment Ref.no </th>
                        <th>Payment Description </th>
                    </tr>
                    <tr ng-repeat="target in listpayment" class="totalcl">
                        <td>{{$index+1}}</td>
                        <td>
                            <input style="border: none;"
                                   type="text"
                                   readonly
                                   required
                                   name="username{{$index}}"
                                   ng-model="target.username"
                                     />
                            <div style="color:red"  ng-messages="target_form['username' + $index].$error" multiple ng-show="target_form['username' + $index].$invalid">
                               <div ng-message="required">User is required.</div>
                                <div ng-message="maxlength">User up to 100 characters</div>
                            </div>
                        </td>
                         <td>
                            <input style="border: none;"
                                   type="text"
                                   readonly
                                   required name="invoiceno{{$index}}"
                                   ng-model="target.invoiceno"
                                   />
                            <div style="color:red"  ng-messages="target_form['invoiceno' + $index].$error" multiple ng-show="target_form['invoiceno' + $index].$invalid">
                                <div ng-message="maxlength">State up to 45 characters</div>
                            </div>
                        </td>
                        
                        <td>
                            <input style="border: none;"
                                   type="text"
                                   readonly
                                   required name="invoiceamt{{$index}}"
                                   ng-model="target.invoiceamt"
                                   />
                            <div style="color:red"   ng-messages="target_form['invoiceamt' + $index].$error" multiple ng-show="target_form['invoiceamt' + $index].$invalid">
                                <div ng-message="maxlength">City up to 45 characters</div>
                            </div>
                        </td>
                        <td>
                            <input style="border: none;"
                                   type="text"
                                   allow-decimal-numbers 
                                   ng-maxlength="6"
                                   required
                                   name="paidamount{{$index}}"
                                   ng-model="target.paidamount"
                                    />
                            <div style="color:red"   ng-messages="target_form['paidamount' + $index].$error" multiple ng-show="target_form['paidamount' + $index].$invalid">
                                <div style="color:red" ng-message="maxlength">Paid Amount up to 6 characters</div>
                                <div style="color:red" ng-message="required">Paid Amount is required.</div>
                            </div>
                        </td>
        <td>
                            <input style="border: none;"
                                   type="text"
                                   allow-decimal-numbers 
                                   ng-maxlength="6"
                                   
                                   name="penalty{{$index}}"
                                   ng-model="target.penalty"
                                    />
                            <div style="color:red"   ng-messages="target_form['penalty' + $index].$error" multiple ng-show="target_form['penalty' + $index].$invalid">
                                <div style="color:red" ng-message="maxlength">Penalty up to 6 characters</div>
                                <div style="color:red" ng-message="required">Paid Amount is required.</div>
                            </div>
                        </td>
                        <td>
                            <input style="border: none;"
                                   type="text"
                                   required
                                   ng-maxlength="100"
                                   name="refno{{$index}}"
                                   ng-model="target.refno"
                                    />
                            <div style="color:red"  ng-messages="target_form['refno' + $index].$error" multiple ng-show="target_form['refno' + $index].$invalid">
                                <div style="color:red" ng-message="maxlength">Payment Ref.no up to 100 characters</div>
                                <div style="color:red" ng-message="required">Payment Ref.no is required.</div>
                            </div>
                        </td>
                        <td>
                            <input style="border: none;"
                                   type="text"
                                    name="description{{$index}}"
                                    ng-model="target.description"
                                     ng-maxlength="200" />
                            <div style="color:red"   ng-messages="target_form['description' + $index].$error" multiple ng-show="target_form['description' + $index].$invalid">
                                <div style="color:red" ng-message="maxlength">Payment Description up to 200 characters</div>
                            </div>
                        </td>
                        
                      
                       
                        <td>
                            <md-button class="md-fab md-warn md-fab-xs" data-ng-click="removerow(listpayment,$index)" ><span class="zmdi zmdi-delete"></span></md-button>
                        </td>
                    </tr>

                </table>
                     </ng-form>
            </div>
        </div>

    </script>
</div>

<style>
    .verifyy {
        width: 31px;
        height: 31px;
        background: #49c5ea;
        display: inline-block;
        padding: 2px;
        text-align: center;
        border-radius: 25%;
        margin-top: 7px;
        margin-right: 5px;
        color: white;
    }
        .reg {
        width: 31px;
        height: 31px;
        background: red;
        display: inline-block;
        padding: 2px;
        text-align: center;
        border-radius: 25%;
        margin-top: 7px;
        margin-right: 5px;
        color: white;
    }

    .red {
        color: red;
    }

    .black {
        color: black;
    }

    .darkgrey {
        color: darkgrey;
    }

    tr.expand-table-row {
        display: none;
    }

    tr.expand-table-row.open {
            display: initial;
        }

    .profilecrcle {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        border: 1px solid #ddd;
    }

    .th {
        white-space: nowrap;
        vertical-align: middle;
    }

    .tablee td {
        vertical-align: top;
        padding: 5px !important;
        position : relative
    }

    .circlee {
        width: 31px;
        height: 31px;
        /*background: #45b915;*/
        display: inline-block;
        padding: 8px;
        text-align: center;
        border-radius: 50%;
        margin-top: 7px;
        color: white;
    }

    .boxy {
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.0784313725490196);
        padding: 10px;
        margin: 5px 10px 0px;
        border-radius: 10px;
        width: auto;
        display: inline-block;
    }


    table.tablee tr td:first-child .circlee:after {
        content: '';
        position: absolute;
        height: 68%;
        width: 1px;
        border-right: 1px dashed #d2d2d2;
        left: 30px;
        top: 44%;
        z-index: 1;
    }


    table.tablee tr:last-child td:first-child .circlee:after {
        display: none;
    }

    .clamp {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: normal;
    }

    md-backdrop.md-dialog-backdrop {
        z-index: 9999;
    }

    .md-dialog-container {
        z-index: 9999;
    }
</style>





