<div class="page page-table" data-ng-controller="LoginCtrl" ng-init="show = 1">


    <div class="animate-fade-up" ng-show="show == 1">
        <div class="row ui-section topbar">
            <div class="col-xs-8 clearfix">
                <h2 class="section-header" style="display: inline-block">Login</h2>
            </div>
            <div class="col-xs-4 clearfix" style="text-align: right">
                <span class="showon" style="float: right; margin-top: 10px;" clearfix>
                    <a ng-click="show = 2">
                        <button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button" aria-label="Add Login"><span class="fa fa-plus ng-scope"></span></button>
                    </a>
                </span>
                <a ng-click="show =2">
                    <button style="margin-top: 8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="Add Login<" ng-click="addLogin()"><span class="ng-scope">Add Login</span></button>
                </a>
            </div>

        </div>
        <div class="row ui-section">
            <section class="panel panel-default table-dynamic">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 ">
                            <form>
                                <md-autocomplete md-no-cache="noCache"
                                                 md-search-text="searchText"
                                                 md-selected-item-change="selectedItemChange(item,'Login')"
                                                 md-items="item in querySearch(searchText,'user')"
                                                 md-item-text="item.username"
                                                 md-min-length="0"
                                                 placeholder="Seacrh User?">
                                    <md-item-template>
                                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.username}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Logins matching "{{searchText}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </form>
                        </div>

                        <div class="col-sm-4 ">
                            <form>
                                <input type="text"
                                       placeholder="Search..."
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()" style="border-radius: 29px;">
                            </form>
                        </div>

                        <div class="col-sm-6 page-num-info">
                            <span>
                                Show
                                <select class="pageno" data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()"></select>
                                entries per page
                            </span>
                        </div>

                    </div>
                </div>
                <div class="table-responsive table-bordered">


                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    <div class="th">
                                        S#

                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        User Name
                                        <span class="fa fa-angle-up"
                                              data-ng-click=" order('username') "
                                              data-ng-class="{active: row == 'username'}"></span>
                                        <span class="fa fa-angle-down"
                                              data-ng-click=" order('-username') "
                                              data-ng-class="{active: row == '-username'}"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Password
                                        <span class="fa fa-angle-up"
                                              data-ng-click=" order('password') "
                                              data-ng-class="{active: row == 'password'}"></span>
                                        <span class="fa fa-angle-down"
                                              data-ng-click=" order('-password') "
                                              data-ng-class="{active: row == '-password'}"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        User
                                        <span class="fa fa-angle-up"
                                              data-ng-click=" order('userid') "
                                              data-ng-class="{active: row == 'userid'}"></span>
                                        <span class="fa fa-angle-down"
                                              data-ng-click=" order('-userid') "
                                              data-ng-class="{active: row == '-userid'}"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Locked
                                        <span class="fa fa-angle-up"
                                              data-ng-click=" order('islocked') "
                                              data-ng-class="{active: row == 'islocked'}"></span>
                                        <span class="fa fa-angle-down"
                                              data-ng-click=" order('-islocked') "
                                              data-ng-class="{active: row == '-islocked'}"></span>
                                    </div>
                                </th>
                                <!--<th>
                                                    <div class="th">
                                                        Last Login
                                <span class="fa fa-angle-up"
                                    data-ng-click=" order('lastlogindatetime') "
                                    data-ng-class="{active: row == 'lastlogindatetime'}"></span>
                                                        <span class="fa fa-angle-down"
                                                            data-ng-click=" order('-lastlogindatetime') "
                                                            data-ng-class="{active: row == '-lastlogindatetime'}"></span>
                                                    </div>
                                                </th>-->
                                <!--<th>
                                                    <div class="th">
                                                        Password Change Date
                                <span class="fa fa-angle-up"
                                    data-ng-click=" order('passwordchangedatetime') "
                                    data-ng-class="{active: row == 'passwordchangedatetime'}"></span>
                                                        <span class="fa fa-angle-down"
                                                            data-ng-click=" order('-passwordchangedatetime') "
                                                            data-ng-class="{active: row == '-passwordchangedatetime'}"></span>
                                                    </div>
                                                </th>-->
                                <th>
                                    <div class="th">
                                        Failure Count
                                        <span class="fa fa-angle-up"
                                              data-ng-click=" order('failurecount') "
                                              data-ng-class="{active: row == 'failurecount'}"></span>
                                        <span class="fa fa-angle-down"
                                              data-ng-click=" order('-failurecount') "
                                              data-ng-class="{active: row == '-failurecount'}"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Action
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="rowData in currentPageresultData">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{rowData.username}}</td>
                                <td>{{rowData.password}}</td>
                                <td>

                                    <span ng-if="rowData.userid==null">{{rowData.ppmsusername}}</span>
                                    <span ng-if="rowData.ppmsuserid==null">{{rowData.username}}</span>
                                </td>
                                <!--<td>{{rowData.islocked}}</td>-->
                                <td>
                                    <span ng-if="rowData.islocked==true">Yes</span>
                                    <span ng-if="rowData.islocked==false">No</span>
                                </td>
                                <!--<td>{{rowData.lastlogindatetime}}</td>-->
                                <!--<td>{{rowData.passwordchangedatetime}}</td>-->
                                <td>{{rowData.failurecount}}</td>
                                <td style="padding: 0px">
                                    <div class="action">
                                        <button ng-click="editLogin(rowData)" class="md-icon-button md-primary md-button md-ink-ripple"><span title="Edit" class="zmdi zmdi-edit ng-scope"></span></button>

                                        <button ng-click="viewLogin(rowData)" class="md-icon-button md-button md-ink-ripple"><span title="View" class="zmdi zmdi-eye ng-scope"></span></button>
                                        <button ng-click="deleteLogin(rowData)" class="md-icon-button md-warn md-button md-ink-ripple" type="button" title="Delete" aria-label="headphones"><span class="zmdi zmdi-delete ng-scope"></span></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="table-footer">
                    <div class="row">

                        <div class="col-sm-6 filter-result-info">
                            <span>
                                Showing {{filteredresultData.length}}/{{resultData.length}} entries
                            </span>
                        </div>
                        <!--   urlDDLoad-->
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="filteredresultData.length"
                                            max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="numPerPage"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>


    <div class="animate-fade-up" id="#IDTITLE#add " ng-show="show == 2">


        <div class="row ui-section">
            <div class="col-xs-8 clearfix">
                <h2 class="section-header" style="display: inline-block">New Login</h2>
            </div>
            <div class="col-xs-4 clearfix" style="text-align: right">
                <span class="showon" style="float: right; margin-top: 10px;" clearfix>
                    <a ng-click="show = 1">
                        <button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button" aria-label="view Login"><span class="fa fa-caret-right ng-scope"></span></button>
                    </a>
                </span>
                <a ng-click="show =1" class="hideon">
                    <button style="margin-top: 8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View Login"><span class="ng-scope">View Login</span></button>
                </a>
            </div>

        </div>
        <div class="row ui-section">

            <div class="panel panel-default">
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <form name="material_login_form" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                                <fieldset>
                                    <div layout='' layout-sm="column" class="layout-sm-column layout-row">
                                        <md-input-container flex="" class="col-md-6">
                                            <label>Username</label>
                                            <md-icon class="zmdi zmdi-account-o"></md-icon>
                                            <input required
                                                   type="text"
                                                   name="username"
                                                   ng-model="login.username" />
                                            <div ng-messages="material_login_form.Username.$error" multiple ng-if='material_login_form.Username.$dirty'>
                                                <div ng-message="required">Username is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="" class="flex ">
                                            <label>Password</label>
                                            <md-icon class="zmdi zmdi-account-o"></md-icon>
                                            <input required
                                                   type="text"
                                                   name="password"
                                                   ng-model="login.password" />
                                            <div ng-messages="material_login_form.Password.$error" multiple ng-if='material_login_form.Password.$dirty'>
                                                <div ng-message="required">Password is required.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout='' layout-sm="column" class="layout-sm-column layout-row">
                                        <md-input-container flex="" class="col-md-6" ng-show="usershow">

                                            <label>User</label>
                                            <md-icon class="zmdi zmdi-account-o"></md-icon>
                                            <md-select ng-model="login.userid" >
                                                <md-option ng-value="user.id" data-ng-repeat="user in listuserDD">
                                                    {{user.firstname}}
                                                </md-option>
                                            </md-select>

                                        </md-input-container>
                                        <md-input-container flex="" class="col-md-6" ng-show="ppusershow">

                                            <label>PPMS User</label>
                                            <md-icon class="zmdi zmdi-account-o"></md-icon>
                                            
                                            <md-select ng-model="login.userid" >
                                                <md-option ng-value="ppuser.id" data-ng-repeat="ppuser in listppmsuser">
                                                    {{ppuser.firstname}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="" class="flex ">
                                            <label>Islocked</label>
                                            <md-icon class="zmdi zmdi-account-o"></md-icon>
                                            <md-radio-group class="ui-md-radio-group-inline" name="islocked" ng-model="login.islocked" style="margin-left:60px" required>
                                                <md-radio-button ng-value="1">Yes</md-radio-button>
                                                <md-radio-button ng-value="0">No</md-radio-button>
                                            </md-radio-group>

                                        </md-input-container>
                                    </div>
                                    <div layout='' layout-sm="column" class="layout-sm-column layout-row" style="display:none">
                                        <!--<md-input-container flex="" class="col-md-6">
                                        <!--<label>Lastlogindatetime</label>-->
                                        <!--<md-icon class="zmdi zmdi-account-o"></md-icon>-->
                                        <!--<input
                                                   type="text"
                                                   name="lastlogindatetime"
                                                   ng-model="login.lastlogindatetime"  />
                                                <div data-ng-controller="DatepickerDemoCtrl" style="display: inline-block; width: 100%">
                                                        <div class="input-group ui-datepicker">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   name="activefrom"
                                                                   uib-datepicker-popup="dd/MM/yyyy"
                                                                   ng-model="login.lastlogindatetime"
                                                                   is-open="popup1.opened"
                                                                   datepicker-options="dateOptions"
                                                                   min-date="minDate"
                                                                   ng-required="false"
                                                                   close-text="Close"
                                                                   alt-input-formats="altInputFormats"
                                                                   date-disabled="disabled(date, mode)"
                                                                   alt-input-formats="dd/MM/yyyy"

                                                                   close-text="Close"
                                                                   placeholder="Active From" ng-click="open1()" style="background-color: transparent;" readonly="readonly" />
                                                        </div>
                                                    </div>

                                        </md-input-container>-->
                                        <!--<md-input-container flex="" class="flex ">
                                             <!--<label>Passwordchangedatetime</label>-->
                                        <!--<md-icon class="zmdi zmdi-account-o"></md-icon>-->
                                        <!--<input
                                                    type="text"
                                                    name="passwordchangedatetime"
                                                    ng-model="login.passwordchangedatetime"  />

                                                 <div data-ng-controller="DatepickerDemoCtrl" style="display: inline-block; width: 100%">
                                                         <div class="input-group ui-datepicker">
                                                             <input type="text"
                                                                    class="form-control"
                                                                    name="activefrom"
                                                                    uib-datepicker-popup="dd/MM/yyyy"
                                                                    ng-model="login.passwordchangedatetime"
                                                                    is-open="popup1.opened"
                                                                    datepicker-options="dateOptions"
                                                                    min-date="minDate"
                                                                    ng-required="false"
                                                                    close-text="Close"
                                                                    alt-input-formats="altInputFormats"
                                                                    date-disabled="disabled(date, mode)"
                                                                    alt-input-formats="dd/MM/yyyy"

                                                                    close-text="Close"
                                                                    placeholder="Active From" ng-click="open1()" style="background-color: transparent;" readonly="readonly" />
                                                         </div>
                                                     </div>
                                        </md-input-container>-->
                                    </div>
                                    <div layout='' layout-sm="column" class="layout-sm-column layout-row">
                                        <md-input-container flex="" class="col-md-6">
                                            <label>Failurecount</label>
                                            <md-icon class="zmdi zmdi-account-o"></md-icon>
                                            <input type="text"
                                                   name="failurecount"
                                                   ng-model="login.failurecount" />

                                        </md-input-container>

                                    </div>
                                    <div>
                                        <md-button type="submit" ng-click="saveLogin()"
                                                   class="md-raised btn-w-md md-primary"
                                                   data-ng-disabled="!canSubmit()">Save</md-button>
                                        <md-button class="btn-w-md"
                                                   data-ng-disabled="!canRevert()"
                                                   data-ng-click="revert()">Revert</md-button>

                                        <div class="divider"></div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>







