
<div class="page page-table" data-ng-controller="PaymentCtrl" ng-init="show = 1">


    <div class="animate-fade-up" ng-show="show == 1" >
    <div class="row ui-section topbar">
    <div class="col-xs-8 clearfix">
        <h2 class="section-header" style="display:inline-block">Payment</h2>
        </div>
        <div class="col-xs-4 clearfix" style="text-align:right">
            <span class="showon"  style="float:right;margin-top: 10px;" clearfix">
        <a ng-click="show = 2"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="Add Payment"><span class="fa fa-plus ng-scope"></span></button></a>
    </span>
        <a ng-click="show =2"><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button"  aria-label="Add Payment<" ng-click ="addPayment()"><span class="ng-scope">Add Payment</span></button></a>
    </div>
    
    </div>
    <div class="row ui-section">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
			             <div class="col-sm-4 ">
               <form>
                <md-autocomplete                    
                    md-no-cache="noCache"                                        
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item,'Payment')"
                    md-items="item in querySearch(searchText,'paymentmode')"
                    md-item-text="item.paymentmodename"
                    md-min-length="0"
                    placeholder="Seacrh Paymentmode?">
                    <md-item-template>
                     <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.paymentmodename}}</span>
                        </md-item-template>
                           <md-not-found>
                               No Payments matching "{{searchText}}" were found.                                      
                           </md-not-found>
                        </md-autocomplete>
             </form>	
            </div>
             <div class="col-sm-4 ">
               <form>
                <md-autocomplete                    
                    md-no-cache="noCache"                                        
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item,'Payment')"
                    md-items="item in querySearch(searchText,'task')"
                    md-item-text="item.taskname"
                    md-min-length="0"
                    placeholder="Seacrh Task?">
                    <md-item-template>
                     <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.taskname}}</span>
                        </md-item-template>
                           <md-not-found>
                               No Payments matching "{{searchText}}" were found.                                      
                           </md-not-found>
                        </md-autocomplete>
             </form>	
            </div>

            <div class="col-sm-4 ">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()" style="border-radius:29px;">
                </form>
            </div>

                 <div class="col-sm-6 page-num-info">
                <span>
                Show 
                <select class="pageno" data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>

            </div>
        </div>
            <div class="table-responsive table-bordered">

            
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                                <th><div class="th">
              Task
                <span class="fa fa-angle-up"
                    data-ng-click=" order('taskid') "
                    data-ng-class="{active: row == 'taskid'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-taskid') "
                    data-ng-class="{active: row == '-taskid'}"></span>
                </div></th>                <th><div class="th">
              Paamount
                <span class="fa fa-angle-up"
                    data-ng-click=" order('paidamount') "
                    data-ng-class="{active: row == 'paidamount'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-paidamount') "
                    data-ng-class="{active: row == '-paidamount'}"></span>
                </div></th>                <th><div class="th">
              Padate
                <span class="fa fa-angle-up"
                    data-ng-click=" order('paiddate') "
                    data-ng-class="{active: row == 'paiddate'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-paiddate') "
                    data-ng-class="{active: row == '-paiddate'}"></span>
                </div></th>                <th><div class="th">
              Paymentmode
                <span class="fa fa-angle-up"
                    data-ng-click=" order('paymentmodeid') "
                    data-ng-class="{active: row == 'paymentmodeid'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-paymentmodeid') "
                    data-ng-class="{active: row == '-paymentmodeid'}"></span>
                </div></th>                <th><div class="th">
              Paymentref
                <span class="fa fa-angle-up"
                    data-ng-click=" order('paymentref') "
                    data-ng-class="{active: row == 'paymentref'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-paymentref') "
                    data-ng-class="{active: row == '-paymentref'}"></span>
                </div></th>                <th><div class="th">
              Paymentdesc
                <span class="fa fa-angle-up"
                    data-ng-click=" order('paymentdesc') "
                    data-ng-class="{active: row == 'paymentdesc'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-paymentdesc') "
                    data-ng-class="{active: row == '-paymentdesc'}"></span>
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="rowData in currentPageresultData">
               <td>{{rowData.taskname}}</td><td>{{rowData.panameamount}}</td><td>{{rowData.panamedate}}</td><td>{{rowData.paymentmodename}}</td><td>{{rowData.paymentref}}</td><td>{{rowData.paymentdesc}}</td>
                <td style="padding:0px">
                    <div class="action">
                  <button  ng-click="editPayment(rowData)" class="md-icon-button md-primary md-button md-ink-ripple"  ><span title="Edit" class="zmdi zmdi-edit ng-scope"></span></button>
                            
                            <button  ng-click="viewPayment(rowData)" class="md-icon-button md-button md-ink-ripple" ><span title="View" class="zmdi zmdi-eye ng-scope"></span></button>
                          <button ng-click="deletePayment(rowData)" class="md-icon-button md-warn md-button md-ink-ripple" type="button" title="Delete" aria-label="headphones"><span class="zmdi zmdi-delete ng-scope"></span></button>
                         </div>  
                       </td>
            </tr>
            </tbody>
        </table>
		</div>
        <footer class="table-footer">
            <div class="row">

                  <div class="col-sm-6 filter-result-info">
                <span>
                Showing {{filteredresultData.length}}/{{resultData.length}} entries
                </span>       
                </div>
        <!--   urlDDLoad-->
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredresultData.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
       </div>
      
    
   <div class="animate-fade-up" id="#IDTITLE#add " ng-show="show == 2" >


    <div class="row ui-section">
    <div class="col-xs-8 clearfix">
        <h2 class="section-header" style="display:inline-block">New Payment</h2>
        </div>
        <div class="col-xs-4 clearfix" style="text-align:right"> 
             <span class="showon"  style="float:right;margin-top: 10px;" clearfix" >
        <a ng-click="show = 1"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="view Payment"><span class="fa fa-caret-right ng-scope"></span></button></a>
    </span>
        <a  ng-click="show =1" class="hideon"><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View Payment"><span class="ng-scope">View Payment</span></button></a>
    </div>
    
    </div>
        <div class="row ui-section">

            <div class="panel panel-default" >
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row" >
                        <div class="col-lg-6 col-lg-offset-3">
                            <form name="material_login_form" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                                <fieldset>
                                <div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                           
                                             <label>Task</label>
                                                 <md-select ng-model="payment.taskid">
                                                    <md-option ng-value="task.id" data-ng-repeat="task in listtask">
                                                     {{task.taskname}}
                                                    </md-option>
                                                </md-select>
                                   </md-input-container>								   <md-input-container flex="" class="flex ">
                                             <label>Paidamount</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input required 
                                               type="text"
                                               name="paidamount" 
                                               ng-model="payment.paidamount"  />
											    <div ng-messages="material_login_form.Paidamount.$error" multiple ng-if='material_login_form.Paidamount.$dirty'> 
                                                    <div ng-message="required">Paidamount is required.</div>
                                                </div>   
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Paiddate</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input required 
                                               type="text"
                                               name="paiddate" 
                                               ng-model="payment.paiddate"  />
											    <div ng-messages="material_login_form.Paiddate.$error" multiple ng-if='material_login_form.Paiddate.$dirty'> 
<div ng-message="required">Paiddate is required.</div>
</div>                                       
                                    </md-input-container>
								 <md-input-container flex="" class="flex ">
                                           
                                             <label>Paymentmode</label>
                                                 <md-select ng-model="payment.paymentmodeid">
                                                    <md-option ng-value="paymentmode.id" data-ng-repeat="paymentmode in listpaymentmode">
                                                     {{paymentmode.paymentmodename}}
                                                    </md-option>
                                                </md-select>
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Paymentref</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="paymentref" 
                                               ng-model="payment.paymentref"  />											                                          
                                    </md-input-container>
								   <md-input-container flex="" class="flex ">
                                             <label>Paymentdesc</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="paymentdesc" 
                                               ng-model="payment.paymentdesc"  />											      
                                   </md-input-container>
 </div>    
								  <div>                                                                                                            
                                    <md-button type="submit" ng-click="savePayment()"
                                               class="md-raised btn-w-md md-primary"
                                              data-ng-disabled="!canSubmit()">Save</md-button>
                                    <md-button class="btn-w-md"
                                               data-ng-disabled="!canRevert()"
                                               data-ng-click="revert()">Revert</md-button>

                                    <div class="divider"></div>
                                  </div>                               
                                                          
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </div>
</div>


    
   



