
<div class="page page-table" data-ng-controller="StateCtrl" ng-init="show = 1">


    <div class="animate-fade-up" ng-show="show == 1" >
    <div class="row ui-section topbar">
    <div class="col-xs-6 clearfix">
        <h2 class="section-header" style="display:inline-block">State</h2>
        </div>
        <div class="col-xs-6 clearfix" style="text-align:right">
            <span class="showon"  style="float:right;margin-top: 10px;" clearfix">
        <a ng-click="show = 2"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="Add State"><span class="fa fa-plus ng-scope"></span></button></a>
    </span>
            <span ng-show="access_permission.addshow">
                <a  ng-click="show =2" ><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button"  aria-label="Add State<" ng-click ="addState()"><span class="ng-scope">Add State</span></button></a>
        <span>
            <input type="file" ngf-select="" ng-model="newtargetexcel" name="profile" ngf-max-size="19MB" style="visibility: hidden;display:inline;width:0px" id="files">
            <a style="top: 12px;" class="md-raised btn-sm md-primary md-button md-ink-ripple" href="#" onclick="document.getElementById('files').click(); return false;" class="uppic md-icon-button md-primary md-button md-ink-ripple">
                <i class="zmdi zmdi-upload"></i>&nbsp; Upload
            </a>
        </span>
        <a style="padding-left: 5px;" href="images/sampleexcel/state.xlsx">
            <button style="margin-top: 8px" class="md-raised btn-sm md-primary md-button md-ink-ripple"><span class="ng-scope"><i class="zmdi zmdi-upload"></i>&nbsp; Sample File</span></button>            
        </a>                
            <button  ng-click="exceller()" style="margin-top: 8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="Add Stock<"><span class="ng-scope"><i class="zmdi zmdi-download"></i>&nbsp;&nbsp;Excel</span></button>        
        <button style="display:none" type="button" id="openpopup" class="btn btn-info btn-lg" data-toggle="modal" data-target="#stateModel">Open Modal</button>
            </span>
        
    </div>
    
    </div>
    <div class="row ui-section">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
			
            <div class="col-sm-4 ">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()" style="border-radius:29px;">
                </form>
            </div>

                 <div class="col-sm-6 page-num-info">
                <span>
                Show 
                <select class="pageno" data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>

            </div>
        </div>
            <div class="table-responsive table-bordered">

            
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>
                                    <div class="th text-center">
                                       S.No
                                    </div>
                                </th>
                                <th><div class="th">
              State
                <span class="fa fa-angle-up"
                    data-ng-click=" order('statename') "
                    data-ng-class="{active: row == 'statename'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-statename') "
                    data-ng-class="{active: row == '-statename'}"></span>
                </div></th>        
                 <th><div class="th">
              State Code
                <span class="fa fa-angle-up"
                    data-ng-click=" order('statecode') "
                    data-ng-class="{active: row == 'statecode'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-statecode') "
                    data-ng-class="{active: row == '-statecode'}"></span>
                </div></th>      
                  <!--<th><div class="th">
              Latitude
                <span class="fa fa-angle-up"
                    data-ng-click=" order('lat') "
                    data-ng-class="{active: row == 'lat'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-lat') "
                    data-ng-class="{active: row == '-lat'}"></span>
                </div></th>                <th><div class="th">
              Longitude
                <span class="fa fa-angle-up"
                    data-ng-click=" order('lng') "
                    data-ng-class="{active: row == 'lng'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-lng') "
                    data-ng-class="{active: row == '-lng'}"></span>
                </div></th>-->               
                <th>
                    <div class="th">
                        Action
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="rowData in currentPageresultData">
               <td class="text-center">{{$index + 1}}</td>
                <td>{{rowData.statename}}</td>
                 <td>{{rowData.statecode}}</td>
                <!--<td>{{rowData.lat}}</td><td>{{rowData.lng}}</td>-->
               
                <td style="padding:0px">
                    <div class="action">
                  <button ng-show="access_permission.editshow"  ng-click="editState(rowData)" class="md-icon-button md-primary md-button md-ink-ripple"  ><span title="Edit" class="zmdi zmdi-edit ng-scope"></span></button>
                    <!--<button  ng-click="viewState(rowData)" class="md-icon-button md-button md-ink-ripple" ><span title="View" class="zmdi zmdi-eye ng-scope"></span></button>-->
                   <button ng-show="access_permission.deleteshow" ng-click="deleteState(rowData)" class="md-icon-button md-warn md-button md-ink-ripple" type="button" title="Delete" aria-label="headphones"><span class="zmdi zmdi-delete ng-scope"></span></button>
                         </div>  
                       </td>
            </tr>
            </tbody>
        </table>
		</div>
        <footer class="table-footer">
            <div class="row">

                  <div class="col-sm-6 filter-result-info">
                <span>
                Showing {{filteredresultData.length}}/{{resultData.length}} entries
                </span>       
                </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredresultData.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
       </div>
      
    
   <div class="animate-fade-up" id="#IDTITLE#add " ng-show="show == 2" >


    <div class="row ui-section">
    <div class="col-xs-8 clearfix">
        <h2 class="section-header" style="display:inline-block">New State</h2>
        </div>
        <div class="col-xs-4 clearfix" style="text-align:right"> 
             <span class="showon"  style="float:right;margin-top: 10px;" clearfix" >
        <a ng-click="show = 1"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="view State"><span class="fa fa-caret-right ng-scope"></span></button></a>
    </span>
        <a  ng-click="show =1" class="hideon"><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View State"><span class="ng-scope">View State</span></button></a>
    </div>
    
    </div>
        <div class="row ui-section">

            <div class="panel panel-default" >
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row" >
                        <div class="col-lg-6 col-lg-offset-3">
                            <form name="material_login_form" class="form-horizontal form-validation">
                                <fieldset>
                                <div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label><span style="color: red"> *</span>State</label>
                                        <md-icon class="zmdi zmdi-nature"></md-icon>
                                        <input required capitalize
                                                capitalize
                                               type="text"
                                               name="statename" 
                                               ng-model="state.statename" 
                                             
                                            ng-maxlength="45" />
											    <div ng-messages="material_login_form.statename.$error" multiple ng-if='material_login_form.statename.$dirty'> 
											        <div ng-message="required">Statename is required.</div>
											        <div ng-message="maxlength">Statename up to 45 characters</div>
											    </div>   
											                                       
                                    </md-input-container>
                                      <md-input-container flex="" class="flex ">
                                             <label>State Code</label>
                                        <md-icon class="zmdi zmdi-nature"></md-icon>
                                        <input  
                                               type="text"
                                               name="statecode" 
                                               ng-model="state.statecode"
                                             ng-maxlength="2"  />
                                           <div ng-messages="material_login_form.statecode.$error" multiple ng-if='material_login_form.statecode.$dirty'> 
											        <div ng-message="maxlength">State code up to 2 characters</div>
											    </div>  
											      
                                   </md-input-container>
								  
                                     </div>
                                    
								  <div>                                                                                                            
                                    <md-button type="submit" ng-click="saveState()"
                                               class="md-raised btn-w-md md-primary"
                                              data-ng-disabled="!canSubmit()">Save</md-button>
                                    <md-button class="btn-w-md"
                                               data-ng-disabled="!canRevert()"
                                               data-ng-click="revert()">Revert</md-button>

                                    <div class="divider"></div>
                                  </div>                               
                                                          
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </div>


    <div id="stateModel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center;">State Upload</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body uploadmodel">
                        <ng-form name="input_form">
                            <table class="table table-bordered table-striped table-responsive tabtable">
                                <tr>
                                    <th>S.No</th>
                                    <th><span style="color: red"> *</span>State</th>
                                    <th>Code</th>
                                    <th></th>
                                </tr>
                            <tr data-ng-repeat="newrow in listbinddata" ng-if="listbinddata">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <md-input-container class="no-error-space">
                                            <input  type="text" required name="statename{{$index}}" ng-model="newrow.statename"  ng-maxlength="45"   />
                                            <div  ng-messages="input_form['statename' + $index].$error" multiple ng-show="input_form['statename' + $index].$dirty">
                                                <div ng-message="required">Statename is required.</div>
                                                <div ng-message="maxlength">Statename up to 45 characters</div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="no-error-space">
                                            <input  type="text"  name="code{{$index}}" ng-model="newrow.statecode" ng-maxlength="2"   />
                                            <div  ng-messages="input_form['code' + $index].$error" multiple ng-show="input_form['code' + $index].$dirty">
                                                <div ng-message="maxlength">State code up to 2 characters</div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-button class="md-fab md-warn md-fab-xs" data-ng-click="removerow(listbinddata,$index,newrow)" ><span class="zmdi zmdi-delete"></span></md-button>
                                    </td>
                                </tr>
                            </table>
                           
                        </ng-form>
                    </div>
                     <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="up_currentPage"
                    total-items="listalltask.length"
                    max-size="4"
                    ng-change="select(up_currentPage)"
                    items-per-page="up_numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button ui-wave class="btn btn-flat btn-primary" style="background: #0c3344; color: white" 
                          data-ng-disabled="!(listbinddata.length>0)"
                         data-dismiss="modal"
                          ng-click="savebulkitem()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


    
   



