<div class="page page-table" data-ng-controller="TaskProcessReportCtrl" ng-init="show = 1" style="min-height: 500px">


    <div class="animate-fade-up" ng-show="show == 1">
        <div class="row ui-section topbar">
            <div class="col-xs-8 clearfix">
                <h2 class="section-header" style="display: inline-block">Task Process Report</h2>
            </div>
            <div class="col-xs-4 clearfix" style="text-align: right">
                <button ng-show="currentPageresultData.length>0"  ng-click="exceller()" style="margin-top: 8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="Add Stock<"><span class="ng-scope"><i class="zmdi zmdi-download"></i>&nbsp;&nbsp;Excel</span></button>
                <!--<button ng-click="print()" style="margin-top: 8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View Purchaseindent"><span class="ng-scope"> <i class="zmdi zmdi-print"></i>&nbsp;&nbsp;Print</span></button>-->
            </div>

        </div>
        <div class="row ui-section">
            <section class="panel panel-default table-dynamic">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-2 ">
                            From Date
                            <div data-ng-controller="DatepickerDemoCtrl" style="display: inline-block; width: 100%">
                                <div class="input-group ui-datepicker" style="width: 100%">
                                    <input type="text"
                                        class="form-control"
                                        name="Fromdate"
                                        id="Fromdate"
                                        uib-datepicker-popup="dd/MM/yyyy"
                                        ng-model="taskreport.fromdate"
                                        is-open="popup1.opened"
                                        datepicker-options="dateOptions2"
                                       
                                        max-date="today_max"
                                        close-text="Close"
                                        alt-input-formats="altInputFormats"
                                        alt-input-formats="dd/MM/yyyy"
                                        close-text="Close"
                                        ng-click="open1()" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 ">
                            To Date
                            <div data-ng-controller="DatepickerDemoCtrl" style="display: inline-block; width: 100%">
                                <div class="input-group ui-datepicker" style="width: 100%">
                                    <input type="text"
                                        class="form-control"
                                        name="ToDate"
                                        id="ToDate"
                                        uib-datepicker-popup="dd/MM/yyyy"
                                        ng-model="taskreport.todate"
                                        is-open="popup1.opened"
                                        datepicker-options="dateOptions2"
                                        max-date="today_max"
                                        ng-required="false"
                                        close-text="Close"
                                        alt-input-formats="altInputFormats"
                                        alt-input-formats="dd/MM/yyyy"
                                        ng-required="true"
                                        close-text="Close"
                                        ng-click="open1()" />
                                </div>
                            </div>
                        </div>
                       <div class="col-sm-2">
                            <label>Project</label>
                            <form>
                                <md-autocomplete class="someeee" md-input-name="autocompleteField"
                                    md-no-cache="noCache"
                                    md-search-text="searchprojectitem"
                                    md-selected-item="selectedprojectitem"
                                    md-selected-item-change="selectedItemChange('P')"
                                    md-items="item in querySearch(searchprojectitem,'project')"
                                    md-item-text="item.projectname"
                                    md-input-id="project"
                                    md-min-length="0"
                                    md-autoselect="true"
                                    >
                                    <md-item-template>
                                        <span md-highlight-text="searchprojectitem" id="{{item.projectname}}" md-highlight-flags="^i">{{item.projectname}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Project matching "{{searchprojectitem}}" were found.
                                    </md-not-found>
                             </md-autocomplete>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <label>Task</label>
                            <form>
                                <md-autocomplete class="someeee" md-input-name="autocompleteField"
                                    md-no-cache="noCache"
                                    md-search-text="searchtaskitem"
                                    md-selected-item="selectedtaskitem"
                                    md-selected-item-change="selectedItemChange('T')"
                                    md-items="item in querySearch(searchtaskitem,'task')"
                                    md-item-text="item.tasktitle"
                                    md-input-id="task"
                                    md-min-length="0"
                                    md-autoselect="true"
                                   >
                                    <md-item-template>
                                        <span md-highlight-text="searchtaskitem" id="{{item.tasktitle}}" md-highlight-flags="^i">{{item.tasktitle}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Task matching "{{searchtaskitem}}" were found.
                                    </md-not-found>
                             </md-autocomplete>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <label>Target</label>
                            <form>
                                <md-autocomplete class="someeee" md-input-name="autocompleteField"
                                    md-no-cache="noCache"
                                    md-search-text="searchtargetitem"
                                    md-selected-item="selectedtargetitem"
                                    md-selected-item-change="selectedItemChange()"
                                    md-items="item in querySearch(searchtargetitem,'target')"
                                    md-item-text="item.targetname"
                                    md-input-id="target"
                                    md-min-length="0"
                                    md-autoselect="true"
                                    >
                                    <md-item-template>
                                        <span md-highlight-text="searchtargetitem" id="{{item.targetname}}" md-highlight-flags="^i">{{item.targetname}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Target matching "{{searchtargetitem}}" were found.
                                    </md-not-found>
                             </md-autocomplete>
                            </form>
                        </div>
                       
                       <div class="col-sm-2">
                             <button  ng-click="runReport()" style="margin-top:17px;" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View Salescalltracker"><span class="ng-scope">Run</span></button>
                         </div>
                        
                        
                    </div>
                     <div class="row">
                          <div class="col-sm-2">
                            <label>Status</label>
                            <form>
                                <md-autocomplete class="someeee" md-input-name="autocompleteField"
                                    md-no-cache="noCache"
                                    md-search-text="searchstatusitem"
                                    md-selected-item="selectedstatusitem"
                                    md-selected-item-change="selectedItemChange()"
                                    md-items="item in querySearch(searchstatusitem,'taskstatus')"
                                    md-item-text="item.taskstatusname"
                                    md-input-id="taskstatus"
                                    md-min-length="0"
                                    md-autoselect="true"
                                    >
                                    <md-item-template>
                                        <span md-highlight-text="searchstatusitem" id="{{item.taskstatusname}}" md-highlight-flags="^i">{{item.taskstatusname}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Status matching "{{searchstatusitem}}" were found.
                                    </md-not-found>
                             </md-autocomplete>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <label>City</label>
                            <form>
                                <md-autocomplete class="someeee" md-input-name="autocompleteField"
                                    md-no-cache="noCache"
                                    md-search-text="searchcityitem"
                                    md-selected-item="selectedcityitem"
                                    md-selected-item-change="selectedItemChange('C')"
                                    md-items="item in querySearch(searchcityitem,'city')"
                                    md-item-text="item.cityname"
                                    md-input-id="city"
                                    md-min-length="0"
                                    md-autoselect="true">
                                    <md-item-template>
                                        <span md-highlight-text="searchcityitem" id="{{item.cityname}}" md-highlight-flags="^i">{{item.cityname}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No City matching "{{searchcityitem}}" were found.
                                    </md-not-found>
                             </md-autocomplete>
                            </form>
                        </div>
                          <div class="col-sm-2">
                            <form style="margin-top:17px;">
                                <input type="text"placeholder="Search..."class="form-control"data-ng-model="searchKeywords"data-ng-keyup="search()" style="border-radius:29px;">
                            </form>
                        </div>
                        <div class="col-sm-3" >
                          
                            <div class=" page-num-info">
                              <span style="display: inline-block;    margin-top: 15px;">Show 
                                  <select class="pageno" data-ng-model="numPerPage"
                                      data-ng-options="num for num in numPerPageOpt"
                                      data-ng-change="onNumPerPageChange()">
                              </select>
                              Entries Per Page
                              </span>
                            </div>
                       </div> 
                         
                     </div>
                </div>
                <div class="table-responsive table-bordered tableFixHead" id="gridviewreport">
                  <div class="pane-hScroll">
                    
                      <table  class="table table-bordered table-striped table-responsive" cellpadding="0" cellspacing="0" style="width:100%;margin-bottom:0px" id="table-1" >
                        <thead>
                            <tr>
                                <th><div class="th">S.No</div></th>
                                <th><div class="th">Client Name</div></th>
                                <th><div class="th">Project</div></th>
                                 <th><div class="th">Target</div></th>
                                <th><div class="th">Task</div></th>
                                <th><div class="th">Task Amount</div></th>
                                <th><div class="th">Start At</div></th>
                                <th><div class="th">End At</div></th>
                                <th><div class="th">End Location</div></th>
                                <th><div class="th">Status</div></th>
                                <th><div class="th">Role</div></th>
                                <th><div class="th">User Name</div></th>
                                <th><div class="th">Auditor</div></th>
                                <th><div class="th">Audit At</div></th>
                                <th><div class="th">Invoice No </div></th>
                                <th><div class="th">Invoice Date </div></th>
                                <th><div class="th">Paid Amount </div></th>
                                <th><div class="th">Paid At</div></th>
                                <th><div class="th">Transaction Reference No </div></th>
                                <th><div class="th">Bank Name </div></th>
                                <th><div class="th">Bank Account No </div></th>
                            </tr>
                        </thead>
                        </table>
                        <div class="pane-vScroll">
                    <table>
                        <tbody   >
                           
                          
                            <tr data-ng-repeat="rowData in currentPageresultData">
                                <td>{{$index+1}}</td>
                                <td>{{rowData.companyname}}</td>
                                <td>{{rowData.projecttitle}}</td>
                                <td>{{rowData.targetname}}</td>
                                <td>{{rowData.tasktitle}}</td>
                                <td>{{rowData.rate}}</td>
                                <td>{{rowData.actstartdate | date : 'MMMM d, y'}}</td>
                                <td>{{rowData.actenddate | date : 'MMMM d, y'}}</td>
                                <td>{{rowData.taskendaddress}}</td>
                                <td>{{rowData.taskstatusname}}</td>
                                <td> <span ng-show="rowData.taskstatusid!=1"> {{rowData.role}}</span></td>
                                <td>{{rowData.username}}</td>
                                <td>{{rowData.auditusername}}</td>
                                <td>{{rowData.auditdate | date : 'MMMM d, y'}}</td>
                                <td>{{rowData.invoiceno}}</td>
                                <td>{{rowData.invoicedate | date : 'MMMM d, y'}}</td>
                                
                                <td>{{rowData.paidamount}}</td>
                                <td>{{rowData.paiddate | date : 'MMMM d, y'}}</td>
                                <td>{{rowData.paymentref}}</td>
                                <td>{{rowData.bankname}}</td>
                                <td>{{rowData.accnumber}}</td>

                            </tr>
                        </tbody>
                    </table>
                            </div>
                      </div>
                 
                </div>
                <footer class="table-footer">
                    <div class="row">

                        <div class="col-sm-6 filter-result-info">
                            <span>Showing {{filteredresultData.length}}/{{resultData.length}} Entries
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredresultData.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>








<style>

    

.pane-hScroll table {
  border-collapse: collapse;
  background: white;
  table-layout: fixed;
  width: 100%;
}
.pane-hScroll th, .pane-hScroll td {
  padding: 8px 16px;
  border: 1px solid #ddd;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pane {
  background: #eee;
}
.pane-hScroll {
  overflow: auto;
  width: 100%;
 }
.pane-vScroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 60vh);

}



</style>

<!--<style>
      .tableFixHead {
        overflow-y: auto;
       
      }
      .tableFixHead thead th {
        position: sticky;
        top: 0;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        padding: 8px 16px;
        border: 1px solid #ccc;
      }
      th {
        background: #eee;
      }
    </style>-->