
<div class="page page-table" data-ng-controller="EmailtemplateCtrl" ng-init="show = 1">


    <div class="animate-fade-up" ng-show="show == 1" >
    <div class="row ui-section topbar">
    <div class="col-xs-8 clearfix">
        <h2 class="section-header" style="display:inline-block">Emailtemplate</h2>
        </div>
        <div class="col-xs-4 clearfix" style="text-align:right">
            <span class="showon"  style="float:right;margin-top: 10px;" clearfix">
        <a ng-click="show = 2"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="Add Emailtemplate"><span class="fa fa-plus ng-scope"></span></button></a>
    </span>
        <a ng-show="access_permission.addshow" ng-click="show =2"><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button"  aria-label="Add Emailtemplate<" ng-click ="addEmailtemplate()"><span class="ng-scope">Add Emailtemplate</span></button></a>
    </div>
    
    </div>
    <div class="row ui-section">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
			
            <div class="col-sm-4 ">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()" style="border-radius:29px;">
                </form>
            </div>

                 <div class="col-sm-6 page-num-info">
                <span>
                Show 
                <select class="pageno" data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>

            </div>
        </div>
            <div class="table-responsive table-bordered">

            
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                 <th>
                                    <div class="th text-center">
                                      Action
                
                                    </div>
                                </th>
                 <th>
                                    <div class="th text-center">
                                       S.No
                
                                    </div>
                                </th>
                                <th><div class="th">
              Template
                <span class="fa fa-angle-up"
                    data-ng-click=" order('templatename') "
                    data-ng-class="{active: row == 'templatename'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-templatename') "
                    data-ng-class="{active: row == '-templatename'}"></span>
                </div></th>                <th><div class="th">
              Code
                <span class="fa fa-angle-up"
                    data-ng-click=" order('templatecode') "
                    data-ng-class="{active: row == 'templatecode'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-templatecode') "
                    data-ng-class="{active: row == '-templatecode'}"></span>
                </div></th>                <th><div class="th">
              Display email
                <span class="fa fa-angle-up"
                    data-ng-click=" order('displayemailid') "
                    data-ng-class="{active: row == 'displayemailid'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-displayemailid') "
                    data-ng-class="{active: row == '-displayemailid'}"></span>
                </div></th>                <th><div class="th">
              Subject
                <span class="fa fa-angle-up"
                    data-ng-click=" order('subject') "
                    data-ng-class="{active: row == 'subject'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-subject') "
                    data-ng-class="{active: row == '-subject'}"></span>
                </div></th>                <th><div class="th">
              Body
                <span class="fa fa-angle-up"
                    data-ng-click=" order('body') "
                    data-ng-class="{active: row == 'body'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-body') "
                    data-ng-class="{active: row == '-body'}"></span>
                </div></th>                             <th><div class="th">
              CC
                <span class="fa fa-angle-up"
                    data-ng-click=" order('mailcc') "
                    data-ng-class="{active: row == 'mailcc'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-mailcc') "
                    data-ng-class="{active: row == '-mailcc'}"></span>
                </div></th>                <th><div class="th">
              BCC
                <span class="fa fa-angle-up"
                    data-ng-click=" order('mailbcc') "
                    data-ng-class="{active: row == 'mailbcc'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-mailbcc') "
                    data-ng-class="{active: row == '-mailbcc'}"></span>
                </div></th>        
                        <th><div class="th">
              Signature
                <span class="fa fa-angle-up"
                    data-ng-click=" order('signature') "
                    data-ng-class="{active: row == 'signature'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-signature') "
                    data-ng-class="{active: row == '-signature'}"></span>
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="rowData in currentPageresultData">
                 <td style="padding:0px">
                    <div class="action">
                  <button ng-show="access_permission.editshow"  ng-click="editEmailtemplate(rowData)" class="md-icon-button md-primary md-button md-ink-ripple"  ><span title="Edit" class="zmdi zmdi-edit ng-scope"></span></button>
                            
                            <!--<button  ng-click="viewEmailtemplate(rowData)" class="md-icon-button md-button md-ink-ripple" ><span title="View" class="zmdi zmdi-eye ng-scope"></span></button>-->
                          <button ng-show="access_permission.deleteshow" ng-click="deleteEmailtemplate(rowData)" class="md-icon-button md-warn md-button md-ink-ripple" type="button" title="Delete" aria-label="headphones"><span class="zmdi zmdi-delete ng-scope"></span></button>
                         </div>  
                       </td>
                 <td class="text-center">{{$index + 1}}</td>
               <td>{{rowData.templatename}}</td>
                <td>{{rowData.templatecode}}</td>
                <td>{{rowData.displayemailname}}</td>
                <td>{{rowData.subject}}</td>
                <td>{{rowData.body}}</td>
                <td>{{rowData.mailcc}}</td>
                <td>{{rowData.mailbcc}}</td>
                <td>{{rowData.signature}}</td>
               
            </tr>
            </tbody>
        </table>
		</div>
        <footer class="table-footer">
            <div class="row">

                  <div class="col-sm-6 filter-result-info">
                <span>
                Showing {{filteredresultData.length}}/{{resultData.length}} entries
                </span>       
                </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredresultData.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
       </div>
      
    
   <div class="animate-fade-up" id="#IDTITLE#add " ng-show="show == 2" >


    <div class="row ui-section">
    <div class="col-xs-8 clearfix">
        <h2 class="section-header" style="display:inline-block">New Emailtemplate</h2>
        </div>
        <div class="col-xs-4 clearfix" style="text-align:right"> 
             <span class="showon"  style="float:right;margin-top: 10px;" clearfix" >
        <a ng-click="show = 1"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="view Emailtemplate"><span class="fa fa-caret-right ng-scope"></span></button></a>
    </span>
        <a  ng-click="show =1" class="hideon"><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View Emailtemplate"><span class="ng-scope">View Emailtemplate</span></button></a>
    </div>
    
    </div>
        <div class="row ui-section">

            <div class="panel panel-default" >
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row" >
                        <div class="col-md-12">
                            <form name="material_login_form" class="form-horizontal form-validation" >
                                <fieldset>
                                <div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label><span style="color: red"> *</span>Template</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input required 
                                               type="text"
                                               name="templatename" 
                                               ng-model="emailtemplate.templatename" 
                                            ng-maxlength="100"  />
											    <div ng-messages="material_login_form.templatename.$error" multiple ng-if='material_login_form.templatename.$dirty'> 
											        <div ng-message="required">Template is required.</div>
                                                    <div ng-message="maxlength">Template up to 100 characters</div>
											    </div>                                       
                                    </md-input-container>
								   <md-input-container flex="" class="flex ">
                                             <label><span style="color: red"> *</span>Code</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  required
                                               type="text"
                                               name="templatecode" 
                                               ng-model="emailtemplate.templatecode"
                                            ng-maxlength="10"   />
											   <div ng-messages="material_login_form.templatecode.$error" multiple ng-if='material_login_form.templatecode.$dirty'> 
											        <div ng-message="required">Code is required.</div>
                                                    <div ng-message="maxlength">Code up to 10 characters</div>
											    </div>     
                                   </md-input-container>
                                     <md-input-container flex="" class="flex ">
                                             <label><span style="color: red"> *</span>Subject</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  required
                                               type="text"
                                               name="subject" 
                                            ng-maxlength="200" 
                                               ng-model="emailtemplate.subject"  />
											  <div ng-messages="material_login_form.subject.$error" multiple ng-if='material_login_form.subject.$dirty'> 
											        <div ng-message="required">Subject is required.</div>
                                                    <div ng-message="maxlength">Subject up to 200 characters</div>
											    </div>         
                                   </md-input-container>
                                     </div>
                                    
                                    <div layout='' layout-sm="column" class="layout-sm-column layout-row">
									
								   <md-input-container flex="" class="flex ">
                                             <label>CC</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="mailcc" 
                                               ng-model="emailtemplate.mailcc"
                                            ng-maxlength="200"   />
										 <div ng-messages="material_login_form.mailcc.$error" multiple ng-if='material_login_form.mailcc.$dirty'> 
                                                    <div ng-message="maxlength">CC up to 200 characters</div>
											    </div>  	      
                                   </md-input-container>
                                        <md-input-container flex="" class="col-md-6">
                                        <label>BCC</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="mailbcc" 
                                               ng-model="emailtemplate.mailbcc"
                                            ng-maxlength="100"   />
										<div ng-messages="material_login_form.mailbcc.$error" multiple ng-if='material_login_form.mailbcc.$dirty'> 
                                                    <div ng-message="maxlength">BCC up to 100 characters</div>
											    </div>  	                                          
                                    </md-input-container>
                                     </div>
                                   <div layout='' layout-sm="column" class="layout-sm-column layout-row">
                                          <md-input-container flex="" class="col-md-12" style="padding: 0px;margin-bottom: 10px;">
                                        <label><span style="color: red"> *</span>Body</label>
                                        
                                             <div required text-angular   name="body" 
                                               ng-model="emailtemplate.body" 
                                            ng-maxlength="5000"></div>
                                        
											 <div ng-messages="material_login_form.body.$error" multiple ng-if='material_login_form.body.$dirty'> 
                                                    <div ng-message="maxlength">Body up to 5000 characters</div>
                                                 <div ng-message="required">Subject is required.</div>
											    </div>                                          
                                    </md-input-container>
                                    </div>
                                   
                                    
                                    <div layout='' layout-sm="column" class="layout-sm-column layout-row">
									
								   <md-input-container flex="" class="flex ">
                                             <label>Signature</label>
                                       
                                             <div text-angular     name="signature" 
                                               ng-model="emailtemplate.signature"
                                            ng-maxlength="500"></div>
                                      
											<div ng-messages="material_login_form.signature.$error" multiple ng-if='material_login_form.signature.$dirty'> 
                                                    <div ng-message="maxlength">Signature up to 500 characters</div>
											    </div>  	      
                                   </md-input-container>
                                     </div>    
								  <div>                                                                                                            
                                    <md-button type="submit" ng-click="saveEmailtemplate()"
                                               class="md-raised btn-w-md md-primary"
                                              data-ng-disabled="!canSubmit()">Save</md-button>
                                    <md-button class="btn-w-md"
                                               data-ng-disabled="!canRevert()"
                                               data-ng-click="revert()">Revert</md-button>

                                    <div class="divider"></div>
                                  </div>                               
                                                          
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </div>
</div>


    
   



