
<div class="page page-table" data-ng-controller="InvoiceCtrl" ng-init="show = 1">


    <div class="animate-fade-up" ng-show="show == 1" >
    <div class="row ui-section topbar">
    <div class="col-xs-8 clearfix">
        <h2 class="section-header" style="display:inline-block">Invoice</h2>
        </div>
        <div class="col-xs-4 clearfix" style="text-align:right">
            <span class="showon"  style="float:right;margin-top: 10px;" clearfix">
        <a ng-click="show = 2"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="Add Invoice"><span class="fa fa-plus ng-scope"></span></button></a>
    </span>
        <a ng-click="show =2"><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button"  aria-label="Add Invoice<" ng-click ="addInvoice()"><span class="ng-scope">Add Invoice</span></button></a>
    </div>
    
    </div>
    <div class="row ui-section">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
			             <div class="col-sm-4 ">
               <form>
                <md-autocomplete                    
                    md-no-cache="noCache"                                        
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item,'Invoice')"
                    md-items="item in querySearch(searchText,'pastatus')"
                    md-item-text="item.pastatusname"
                    md-min-length="0"
                    placeholder="Seacrh Pastatus?">
                    <md-item-template>
                     <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.pastatusname}}</span>
                        </md-item-template>
                           <md-not-found>
                               No Invoices matching "{{searchText}}" were found.                                      
                           </md-not-found>
                        </md-autocomplete>
             </form>	
            </div>

            <div class="col-sm-4 ">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()" style="border-radius:29px;">
                </form>
            </div>

                 <div class="col-sm-6 page-num-info">
                <span>
                Show 
                <select class="pageno" data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>

            </div>
        </div>
            <div class="table-responsive table-bordered">

            
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                                <th><div class="th">
              Invoiceno
                <span class="fa fa-angle-up"
                    data-ng-click=" order('invoiceno') "
                    data-ng-class="{active: row == 'invoiceno'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-invoiceno') "
                    data-ng-class="{active: row == '-invoiceno'}"></span>
                </div></th>                <th><div class="th">
              Invoicedate
                <span class="fa fa-angle-up"
                    data-ng-click=" order('invoicedate') "
                    data-ng-class="{active: row == 'invoicedate'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-invoicedate') "
                    data-ng-class="{active: row == '-invoicedate'}"></span>
                </div></th>                <th><div class="th">
              Isaccepted
                <span class="fa fa-angle-up"
                    data-ng-click=" order('isaccepted') "
                    data-ng-class="{active: row == 'isaccepted'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-isaccepted') "
                    data-ng-class="{active: row == '-isaccepted'}"></span>
                </div></th>                <th><div class="th">
              Rejectreason
                <span class="fa fa-angle-up"
                    data-ng-click=" order('rejectreason') "
                    data-ng-class="{active: row == 'rejectreason'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-rejectreason') "
                    data-ng-class="{active: row == '-rejectreason'}"></span>
                </div></th>                <th><div class="th">
              Rejecteddate
                <span class="fa fa-angle-up"
                    data-ng-click=" order('rejecteddate') "
                    data-ng-class="{active: row == 'rejecteddate'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-rejecteddate') "
                    data-ng-class="{active: row == '-rejecteddate'}"></span>
                </div></th>                <th><div class="th">
              Rejectedby
                <span class="fa fa-angle-up"
                    data-ng-click=" order('rejectedby') "
                    data-ng-class="{active: row == 'rejectedby'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-rejectedby') "
                    data-ng-class="{active: row == '-rejectedby'}"></span>
                </div></th>                <th><div class="th">
              Workdoneby
                <span class="fa fa-angle-up"
                    data-ng-click=" order('workdoneby') "
                    data-ng-class="{active: row == 'workdoneby'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-workdoneby') "
                    data-ng-class="{active: row == '-workdoneby'}"></span>
                </div></th>                <th><div class="th">
              Task
                <span class="fa fa-angle-up"
                    data-ng-click=" order('taskid') "
                    data-ng-class="{active: row == 'taskid'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-taskid') "
                    data-ng-class="{active: row == '-taskid'}"></span>
                </div></th>                <th><div class="th">
              Pastatus
                <span class="fa fa-angle-up"
                    data-ng-click=" order('paidstatusid') "
                    data-ng-class="{active: row == 'paidstatusid'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-paidstatusid') "
                    data-ng-class="{active: row == '-paidstatusid'}"></span>
                </div></th>                <th><div class="th">
              Totalamt
                <span class="fa fa-angle-up"
                    data-ng-click=" order('totalamt') "
                    data-ng-class="{active: row == 'totalamt'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-totalamt') "
                    data-ng-class="{active: row == '-totalamt'}"></span>
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="rowData in currentPageresultData">
               <td>{{rowData.invoiceno}}</td><td>{{rowData.invoicedate}}</td><td>{{rowData.isaccepted}}</td><td>{{rowData.rejectreason}}</td><td>{{rowData.rejecteddate}}</td><td>{{rowData.rejectedby}}</td><td>{{rowData.workdoneby}}</td><td>{{rowData.taskname}}</td><td>{{rowData.panamestatusname}}</td><td>{{rowData.totalamt}}</td>
                <td style="padding:0px">
                    <div class="action">
                  <button  ng-click="editInvoice(rowData)" class="md-icon-button md-primary md-button md-ink-ripple"  ><span title="Edit" class="zmdi zmdi-edit ng-scope"></span></button>
                            
                            <button  ng-click="viewInvoice(rowData)" class="md-icon-button md-button md-ink-ripple" ><span title="View" class="zmdi zmdi-eye ng-scope"></span></button>
                          <button ng-click="deleteInvoice(rowData)" class="md-icon-button md-warn md-button md-ink-ripple" type="button" title="Delete" aria-label="headphones"><span class="zmdi zmdi-delete ng-scope"></span></button>
                         </div>  
                       </td>
            </tr>
            </tbody>
        </table>
		</div>
        <footer class="table-footer">
            <div class="row">

                  <div class="col-sm-6 filter-result-info">
                <span>
                Showing {{filteredresultData.length}}/{{resultData.length}} entries
                </span>       
                </div>
        <!--   urlDDLoad-->
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredresultData.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
       </div>
      
    
   <div class="animate-fade-up" id="#IDTITLE#add " ng-show="show == 2" >


    <div class="row ui-section">
    <div class="col-xs-8 clearfix">
        <h2 class="section-header" style="display:inline-block">New Invoice</h2>
        </div>
        <div class="col-xs-4 clearfix" style="text-align:right"> 
             <span class="showon"  style="float:right;margin-top: 10px;" clearfix" >
        <a ng-click="show = 1"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="view Invoice"><span class="fa fa-caret-right ng-scope"></span></button></a>
    </span>
        <a  ng-click="show =1" class="hideon"><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View Invoice"><span class="ng-scope">View Invoice</span></button></a>
    </div>
    
    </div>
        <div class="row ui-section">

            <div class="panel panel-default" >
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row" >
                        <div class="col-lg-6 col-lg-offset-3">
                            <form name="material_login_form" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                                <fieldset>
                                <div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Invoiceno</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input required 
                                               type="text"
                                               name="invoiceno" 
                                               ng-model="invoice.invoiceno"  />
											    <div ng-messages="material_login_form.Invoiceno.$error" multiple ng-if='material_login_form.Invoiceno.$dirty'> 
<div ng-message="required">Invoiceno is required.</div>
</div>                                       
                                    </md-input-container>
								   <md-input-container flex="" class="flex ">
                                             <label>Invoicedate</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input required 
                                               type="text"
                                               name="invoicedate" 
                                               ng-model="invoice.invoicedate"  />
											    <div ng-messages="material_login_form.Invoicedate.$error" multiple ng-if='material_login_form.Invoicedate.$dirty'> 
<div ng-message="required">Invoicedate is required.</div>
</div>   
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Isaccepted</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input required 
                                               type="text"
                                               name="isaccepted" 
                                               ng-model="invoice.isaccepted"  />
											    <div ng-messages="material_login_form.Isaccepted.$error" multiple ng-if='material_login_form.Isaccepted.$dirty'> 
<div ng-message="required">Isaccepted is required.</div>
</div>                                       
                                    </md-input-container>
								   <md-input-container flex="" class="flex ">
                                             <label>Rejectreason</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="rejectreason" 
                                               ng-model="invoice.rejectreason"  />
											      
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Rejecteddate</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="rejecteddate" 
                                               ng-model="invoice.rejecteddate"  />
											                                          
                                    </md-input-container>
								   <md-input-container flex="" class="flex ">
                                             <label>Rejectedby</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="rejectedby" 
                                               ng-model="invoice.rejectedby"  />
											      
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Workdoneby</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input required 
                                               type="text"
                                               name="workdoneby" 
                                               ng-model="invoice.workdoneby"  />
											    <div ng-messages="material_login_form.Workdoneby.$error" multiple ng-if='material_login_form.Workdoneby.$dirty'> 
<div ng-message="required">Workdoneby is required.</div>
</div>                                       
                                    </md-input-container>
								 <md-input-container flex="" class="flex ">
                                           
                                             <label>Task</label>
                                                 <md-select ng-model="invoice.taskid">
                                                    <md-option ng-value="task.id" data-ng-repeat="task in listtask">
                                                     {{task.taskname}}
                                                    </md-option>
                                                </md-select>
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                           
                                             <label>Pastatus</label>
                                                 <md-select ng-model="invoice.paidstatusid">
                                                    <md-option ng-value="pastatus.id" data-ng-repeat="pastatus in listpastatus">
                                                     {{pastatus.pastatusname}}
                                                    </md-option>
                                                </md-select>
                                   </md-input-container>								   <md-input-container flex="" class="flex ">
                                             <label>Totalamt</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="totalamt" 
                                               ng-model="invoice.totalamt"  />
											      
                                   </md-input-container>
 </div>    
								  <div>                                                                                                            
                                    <md-button type="submit" ng-click="saveInvoice()"
                                               class="md-raised btn-w-md md-primary"
                                              data-ng-disabled="!canSubmit()">Save</md-button>
                                    <md-button class="btn-w-md"
                                               data-ng-disabled="!canRevert()"
                                               data-ng-click="revert()">Revert</md-button>

                                    <div class="divider"></div>
                                  </div>                               
                                                          
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </div>
</div>


    
   



