<div class="page page-table" data-ng-controller="TaskbucketCtrl">



    <div class="animate-fade-up" id="#IDTITLE#add ">
        <div class="row ui-section">
            <div class="col-xs-8 clearfix">
                <h2 class="section-header" style="display: inline-block">My Tasks</h2>
            </div>

        </div>
        <div class="row ui-section">

            <div class="panel panel-default">
                <div class="panel-body padding-xl form-validation" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <md-content>
                                <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
                                    <md-tab label="Un Assign Task" >
                                        <md-content class="md-padding">
                                            <div class="col-lg-12">
                                                 <div class="col-sm-6">
                                <table style="width: 100%" class="table  table-responsive tripendhead">
                                        <tr>
                                            <th style="text-align:center">
                                                Select Target(s)
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <tree-view checkbox  click="loadtask(node);$event.stopPropagation();" model="targetnodes"></tree-view>
                                            </td>
                                            
                                        </tr>
                                    </table>
                                
                            </div>
                            <div class="col-sm-6">
                                <md-radio-group ng-model="ddlsubagent">
                                    <table style="width: 100%" class="table  table-responsive tripendhead">
                                        <tr>
                                            <th style="text-align:center"> 
                                                Assign to AR
                                            </th>
                                        </tr>
                                        <tr data-ng-repeat="user in listuser">
                                            <td style="border: none;">
                                                <md-radio-button ng-value="{{user.id}}" class="md-primary"  >{{user.firstname}} &nbsp {{user.lastname}}</md-radio-button>
                                            </td>
                                        </tr>
                                    </table>
                                </md-radio-group>
                            </div>
                                            </div>
                                            <div class="col-md-12" style="text-align:center">
                                                 <md-button type="submit" ng-click="updatecancel()" class="md-raised btn-w-md md-warn">Cancel</md-button>
                                                <md-button type="submit" ng-click="updateassign()" class="md-raised btn-w-md md-primary">Assign</md-button>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Reassign" ng-click="loadassigntask()" >
                                        <md-content class="md-padding">
                                            <div class="col-lg-12">
                                                 <div class="col-sm-6">
                                                 <table style="width: 100%" class="table  table-responsive tripendhead">
                                                 <tr>
                                                      <th >
                                                        <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
                                                        </th>
                                                    <th >Task</th>
                                                     <th >Target</th>
                                                     <th >Current AR</th>
                                                 </tr>
                                                 <tr data-ng-repeat="rowData in listagencytask">
                                                   <td >
                                                        <md-checkbox ng-checked="exists(rowData.id, selected)" ng-click="toggle(rowData.id, selected)"> </md-checkbox>
                                                    </td>
                                                   <td>{{rowData.tasktitle}}</td>
                                                   <td>{{rowData.targetname}}</td>
                                                    <td>{{rowData.firstname}}  <span ng-if="rowData.lastname!=null">{{rowData.lastname}}</span></td>
                                                 </tr>
                                                 </table>
                                                 </div>
                                                <div class="col-sm-6">
                                                    <md-radio-group ng-model="ddlselectsubagent">
                                                        <table style="width: 100%" class="table  table-responsive tripendhead">
                                                            <tr>
                                                                <th style="text-align:center">Assign to AR</th>
                                                            </tr>
                                                            <tr data-ng-repeat="user in listuser">
                                                                <td style="border: none;">
                                                                    <md-radio-button ng-value="{{user.id}}" class="md-primary"  >{{user.firstname}} &nbsp {{user.lastname}}</md-radio-button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </md-radio-group>
                                                 </div>
                                            </div>
                                            <div class="col-md-12" style="text-align:center">
                                                <md-button type="submit" ng-click="updatereassign()" class="md-raised btn-w-md md-primary">Reassign</md-button>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                     <!--<md-tab label="Collected Items" >
                                        <md-content class="md-padding">
                                            <div class="table-responsive table-bordered" id="gridviewreport">
                                                <div layout='' layout-sm="column" class="layout-sm-column layout-row">
                                                    <md-input-container  class="col-md-8">
                                                        </md-input-container>
                                        <md-input-container  class="col-md-4">
                                            <label>Project</label>
                                            <md-select ng-model="ddlprojectid" ng-change="getcollecteditem()"  >
                                                <md-option ng-value="project.id" data-ng-repeat="project in listproject">
                                                    {{project.projectname}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                       
                                    </div>

                                                <table  class="table table-bordered table-striped table-responsive" cellpadding="0" cellspacing="0" style="width:100%">
                                                    <thead>
                          
                            <tr>
                                <th>
                                    <div class="th">
                                        S.No
                                        </div>
                                </th>
                                <th>
                                    <div class="th">
                                       AR
                
                                    </div>
                                </th>
                                  <th>
                                    <div class="th">
                                      Collected Date
                
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Project
               
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                       Task
               
                                    </div>
                                </th>
                               
                                
                                 <th>
                                    <div class="th">
                                        Target
               
                                    </div>
                                </th>
                                 <th>
                                    <div class="th">
                                      Item
              
                                    </div>
                                </th>
                            </tr>
                                                    </thead>
                                                    <tbody  data-ng-repeat="rowData in listcollecteditem" >
                                                        <tr>
                                <td>{{$index+1}}</td>
                                <td>{{rowData.username}}</td>
                                <td>{{rowData.collecteddate | date : 'MMMM d, y'}}</td>
                                <td>
                                    <table cellpadding="0" cellspacing="0" style="width:100%">
                                        <tbody ng-repeat="project in rowData.listproject">
                                            <tr>
                                                <td>{{project}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table cellpadding="0" cellspacing="0" style="width:100%">
                                        <tbody ng-repeat="task in rowData.listtask">
                                            <tr>
                                                <td>{{task}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table cellpadding="0" cellspacing="0" style="width:100%">
                                        <tbody ng-repeat="target in rowData.listtarget">
                                            <tr>
                                                <td>{{target}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                                            <td>
                                    <table cellpadding="0" cellspacing="0" style="width:100%">
                                        <tbody ng-repeat="item in rowData.listitem">
                                            <tr>
                                                <td>{{item}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </md-content>
                                    </md-tab>-->
                                </md-tabs>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







