<div class="modal-header">
    <h3>Lead Excel Upload</h3>
</div>
<div class="modal-body">
    <table class="storetable">

        <tr>
            <th>S.No</th>
            <th>Project</th>
            <th>Project description</th>
            <th>Task</th>
            <th>Task description</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Remarks</th>
            <th>Target</th>
            <th>State</th>
             <th>City</th>
             <th>Area</th>
             <th>Street</th>
             <th>Address</th>
            <th>Land Mark</th>
            <th>Contact</th>
            <th>Distributor</th>
            <th>Distributor Contact</th>
        </tr>
        <tr ng-repeat="item in AllExcelLeaddata">
            <td>
                <span ng-if="$index+1 < 10">0{{$index+1}}</span>
                <span ng-if="$index+1 > 10" ng-bind="$index+1"></span>
            </td>
            <td>
                <input required
                    style="border: none;"
                    type="text"
                    name="leadphoneno"
                    ng-model="item.leadpersonname" />
            </td>
            <td>
                <input required
                    style="border: none;"
                    type="text"
                    name="leadphoneno"
                    ng-model="item.leadphoneno"
                    ng-blur="checkvalided(item)" />
            </td>
            <td>
                <input
                    style="border: none;"
                    type="text"
                    name="leadmailid"
                    ng-model="item.leadmailid"
                    ng-blur="checkvalided(item)" />
            </td>
            <td><span ng-bind="item.comments"></span></td>
            <td>
                <md-icon ng-if="item.status=='V'" style="color: green" class="zmdi zmdi-check"></md-icon>
                <md-icon ng-if="item.status=='IV'" style="color: red" class="zmdi zmdi-close"></md-icon>
            </td>
        </tr>
    </table>
    <span style="float: right;"><span style="color: red">Note : </span>Save Only Valid Row's</span>
</div>
<div class="modal-footer">
    <button ui-wave class="btn btn-flat btn-default" style="background: #cbc3c3" ng-click="cancel()">Cancel</button>
    <button ui-wave class="btn btn-flat btn-primary" style="background: #2d3b1e; color: white" ng-click="ok()">Save</button>
</div>
