
<div class="page page-table" data-ng-controller="UserexpCtrl" ng-init="show = 1">


    <div class="animate-fade-up" ng-show="show == 1" >
    <div class="row ui-section topbar">
    <div class="col-xs-8 clearfix">
        <h2 class="section-header" style="display:inline-block">Userexp</h2>
        </div>
        <div class="col-xs-4 clearfix" style="text-align:right">
            <span class="showon"  style="float:right;margin-top: 10px;" clearfix">
        <a ng-click="show = 2"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="Add Userexp"><span class="fa fa-plus ng-scope"></span></button></a>
    </span>
        <a ng-click="show =2"><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button"  aria-label="Add Userexp<" ng-click ="addUserexp()"><span class="ng-scope">Add Userexp</span></button></a>
    </div>
    
    </div>
    <div class="row ui-section">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
			             <div class="col-sm-4 ">
               <form>
                <md-autocomplete                    
                    md-no-cache="noCache"                                        
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item,'Userexp')"
                    md-items="item in querySearch(searchText,'user')"
                    md-item-text="item.username"
                    md-min-length="0"
                    placeholder="Seacrh User?">
                    <md-item-template>
                     <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.username}}</span>
                        </md-item-template>
                           <md-not-found>
                               No Userexps matching "{{searchText}}" were found.                                      
                           </md-not-found>
                        </md-autocomplete>
             </form>	
            </div>

            <div class="col-sm-4 ">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()" style="border-radius:29px;">
                </form>
            </div>

                 <div class="col-sm-6 page-num-info">
                <span>
                Show 
                <select class="pageno" data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>

            </div>
        </div>
            <div class="table-responsive table-bordered">

            
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                                <th><div class="th">
              User
                <span class="fa fa-angle-up"
                    data-ng-click=" order('userid') "
                    data-ng-class="{active: row == 'userid'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-userid') "
                    data-ng-class="{active: row == '-userid'}"></span>
                </div></th>                <th><div class="th">
              Companyname
                <span class="fa fa-angle-up"
                    data-ng-click=" order('companyname') "
                    data-ng-class="{active: row == 'companyname'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-companyname') "
                    data-ng-class="{active: row == '-companyname'}"></span>
                </div></th>                <th><div class="th">
              Address
                <span class="fa fa-angle-up"
                    data-ng-click=" order('address') "
                    data-ng-class="{active: row == 'address'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-address') "
                    data-ng-class="{active: row == '-address'}"></span>
                </div></th>                <th><div class="th">
              City
                <span class="fa fa-angle-up"
                    data-ng-click=" order('cityid') "
                    data-ng-class="{active: row == 'cityid'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-cityid') "
                    data-ng-class="{active: row == '-cityid'}"></span>
                </div></th>                <th><div class="th">
              Fromdate
                <span class="fa fa-angle-up"
                    data-ng-click=" order('fromdate') "
                    data-ng-class="{active: row == 'fromdate'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-fromdate') "
                    data-ng-class="{active: row == '-fromdate'}"></span>
                </div></th>                <th><div class="th">
              Todate
                <span class="fa fa-angle-up"
                    data-ng-click=" order('todate') "
                    data-ng-class="{active: row == 'todate'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-todate') "
                    data-ng-class="{active: row == '-todate'}"></span>
                </div></th>                <th><div class="th">
              Isverified
                <span class="fa fa-angle-up"
                    data-ng-click=" order('isverified') "
                    data-ng-class="{active: row == 'isverified'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-isverified') "
                    data-ng-class="{active: row == '-isverified'}"></span>
                </div></th>                <th><div class="th">
              Verifieddate
                <span class="fa fa-angle-up"
                    data-ng-click=" order('verifieddate') "
                    data-ng-class="{active: row == 'verifieddate'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-verifieddate') "
                    data-ng-class="{active: row == '-verifieddate'}"></span>
                </div></th>                <th><div class="th">
              Remarks
                <span class="fa fa-angle-up"
                    data-ng-click=" order('remarks') "
                    data-ng-class="{active: row == 'remarks'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-remarks') "
                    data-ng-class="{active: row == '-remarks'}"></span>
                </div></th>                <th><div class="th">
              Verifiedby
                <span class="fa fa-angle-up"
                    data-ng-click=" order('verifiedby') "
                    data-ng-class="{active: row == 'verifiedby'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-verifiedby') "
                    data-ng-class="{active: row == '-verifiedby'}"></span>
                </div></th>                <th><div class="th">
              Expproof
                <span class="fa fa-angle-up"
                    data-ng-click=" order('expproof') "
                    data-ng-class="{active: row == 'expproof'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-expproof') "
                    data-ng-class="{active: row == '-expproof'}"></span>
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="rowData in currentPageresultData">
               <td>{{rowData.username}}</td><td>{{rowData.companyname}}</td><td>{{rowData.address}}</td><td>{{rowData.cityname}}</td><td>{{rowData.fromdate}}</td><td>{{rowData.todate}}</td><td>{{rowData.isverified}}</td><td>{{rowData.verifieddate}}</td><td>{{rowData.remarks}}</td><td>{{rowData.verifiedby}}</td><td>{{rowData.expproof}}</td>
                <td style="padding:0px">
                    <div class="action">
                  <button  ng-click="editUserexp(rowData)" class="md-icon-button md-primary md-button md-ink-ripple"  ><span title="Edit" class="zmdi zmdi-edit ng-scope"></span></button>
                            
                            <button  ng-click="viewUserexp(rowData)" class="md-icon-button md-button md-ink-ripple" ><span title="View" class="zmdi zmdi-eye ng-scope"></span></button>
                          <button ng-click="deleteUserexp(rowData)" class="md-icon-button md-warn md-button md-ink-ripple" type="button" title="Delete" aria-label="headphones"><span class="zmdi zmdi-delete ng-scope"></span></button>
                         </div>  
                       </td>
            </tr>
            </tbody>
        </table>
		</div>
        <footer class="table-footer">
            <div class="row">

                  <div class="col-sm-6 filter-result-info">
                <span>
                Showing {{filteredresultData.length}}/{{resultData.length}} entries
                </span>       
                </div>
        <!--   urlDDLoad-->
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredresultData.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
       </div>
      
    
   <div class="animate-fade-up" id="#IDTITLE#add " ng-show="show == 2" >


    <div class="row ui-section">
    <div class="col-xs-8 clearfix">
        <h2 class="section-header" style="display:inline-block">New Userexp</h2>
        </div>
        <div class="col-xs-4 clearfix" style="text-align:right"> 
             <span class="showon"  style="float:right;margin-top: 10px;" clearfix" >
        <a ng-click="show = 1"><button class="md-fab md-primary md-fab-sm md-button md-ink-ripple" type="button"  aria-label="view Userexp"><span class="fa fa-caret-right ng-scope"></span></button></a>
    </span>
        <a  ng-click="show =1" class="hideon"><button style="margin-top:8px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View Userexp"><span class="ng-scope">View Userexp</span></button></a>
    </div>
    
    </div>
        <div class="row ui-section">

            <div class="panel panel-default" >
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row" >
                        <div class="col-lg-6 col-lg-offset-3">
                            <form name="material_login_form" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                                <fieldset>
                                <div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                           
                                             <label>User</label>
                                                 <md-select ng-model="userexp.userid">
                                                    <md-option ng-value="user.id" data-ng-repeat="user in listuser">
                                                     {{user.username}}
                                                    </md-option>
                                                </md-select>
                                   </md-input-container>								   <md-input-container flex="" class="flex ">
                                             <label>Companyname</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="companyname" 
                                               ng-model="userexp.companyname"  />
											      
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Address</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="address" 
                                               ng-model="userexp.address"  />
											                                          
                                    </md-input-container>
								 <md-input-container flex="" class="flex ">
                                           
                                             <label>City</label>
                                                 <md-select ng-model="userexp.cityid">
                                                    <md-option ng-value="city.id" data-ng-repeat="city in listcity">
                                                     {{city.cityname}}
                                                    </md-option>
                                                </md-select>
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Fromdate</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="fromdate" 
                                               ng-model="userexp.fromdate"  />
											                                          
                                    </md-input-container>
								   <md-input-container flex="" class="flex ">
                                             <label>Todate</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="todate" 
                                               ng-model="userexp.todate"  />
											      
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Isverified</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="isverified" 
                                               ng-model="userexp.isverified"  />
											                                          
                                    </md-input-container>
								   <md-input-container flex="" class="flex ">
                                             <label>Verifieddate</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="verifieddate" 
                                               ng-model="userexp.verifieddate"  />
											      
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Remarks</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="remarks" 
                                               ng-model="userexp.remarks"  />
											                                          
                                    </md-input-container>
								   <md-input-container flex="" class="flex ">
                                             <label>Verifiedby</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="verifiedby" 
                                               ng-model="userexp.verifiedby"  />
											      
                                   </md-input-container>
 </div><div layout='' layout-sm="column" class="layout-sm-column layout-row">
									<md-input-container flex="" class="col-md-6">
                                        <label>Expproof</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input  
                                               type="text"
                                               name="expproof" 
                                               ng-model="userexp.expproof"  />
											                                          
                                    </md-input-container>

 </div>    
								  <div>                                                                                                            
                                    <md-button type="submit" ng-click="saveUserexp()"
                                               class="md-raised btn-w-md md-primary"
                                              data-ng-disabled="!canSubmit()">Save</md-button>
                                    <md-button class="btn-w-md"
                                               data-ng-disabled="!canRevert()"
                                               data-ng-click="revert()">Revert</md-button>

                                    <div class="divider"></div>
                                  </div>                               
                                                          
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </div>
</div>


    
   



