#mydiv {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

label.headlbl {
    width: 138px;
    font-weight: 400;
    color: #807e7e;
    padding: 5px 0px;
}

.valuelbl {
    font-weight: 400;
    color: black;
}

.mandatoryselect:after {
    content: '*';
    position: absolute;
    color: red;
    left: -6px;
    top: 5px;
}

.mandatoryselect {
    position: relative;
}
label.mandatoryselect:after {
    top: -1px;
}

  label.required:after {
            content: " *";
            color: red;
        }

   .modal-open md-virtual-repeat-container {
    z-index: 9999!important;
}

   .dashdot {
       height: 70px;
       width: 70px;
       border-radius: 50%;
       border: 2px solid #f3f3f3;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 22px;
       margin: auto;
       margin-bottom: 10px;
       color:black;
}

md-input-container md-icon {
    display: none!important;
}

md-input-container.md-has-icon {
    padding-left: 0px;
}

md-input-container.md-has-icon>label {
    left: 0px;
}   .tabtable input, .tabtable textarea, .tabtable md-autocomplete md-autocomplete-wrap, .tabtable md-select-value {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    min-height: 40px;
background:transparent}

.tabtable md-checkbox{
    margin-top: 15px;
    margin-left: 10px;
}
@media (max-width: 1919px) and (min-width: 768px){
.layout-lg-row>.flex, .layout-row>.flex {
    min-width: 0;
    margin-right: 30px;
}}

.table-filters md-autocomplete md-autocomplete-wrap{
    border-radius:29px!important;
}
.table-filters label{
    margin-bottom:0px
}
.body-auth ul.mainhomeli li i {
    color: #0b9cdc !important;
    background: rgba(11, 157, 220, 0.05);
}
ul.mainhomeli li:hover{
    box-shadow: none!important;
}
.body-login.body-auth .main-container {
    background: url(../images/bggg.png)!important;
}

.ta-text.ta-editor {
    height: auto;
    margin-top: 10px;
}

.btnexpand {
font-size: 17px;
}

div.modal.fade.in {
    z-index: 9999;
}

@media (min-width:768px) {
    
.page-signup.asu {
    margin-right: 120px;
}
.app.agencysu > .main-container > .content-container {
    margin-left: 120px;
}
}


ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:25px
}
.rating .filled {
    color: red;
    
}

md-autocomplete.nobrd md-autocomplete-wrap {
    border: none!important;
}
md-autocomplete.nobrd md-autocomplete-wrap  input{
  margin-right: 0px!important;
}
md-autocomplete.nobrd md-autocomplete-wrap button {
    display: none;
}



.form-validation md-autocomplete.nobrd md-autocomplete-wrap  .ng-valid.ng-dirty {
    border-color:#eee!important;
}
.isactiveuploadclsss {
color:orange
}


.someeee input[name="autocompleteField"] {
    background: url(../app/images/search.png);
    background-repeat: no-repeat;
    background-position: 6px 5px;
     padding-left: 35px;
    background-size: 24px;
    padding-right: 0px;
    margin-right: 0px;
}