<div class="page-forgot" ng-controller="forgetpassordCtrl">


    <div class="wrapper">
        <div class="main-body" style="max-width: 425px;">
            <div class="body-inner">
                <div class="card " style="border-radius: 5px; background: white; box-shadow: 3px 10px 9px #797575; overflow: visible;">
                    <div class="card-content" style="overflow: visible;">
                        <section class="logo text-center" style="background: #e1f0f9; padding: 1px; box-shadow: 7px 7px 20px #948b8b; border-radius: 6px; margin-top: -71px;">
                            <h1 style="margin-bottom: 21px;"><a href="" style="color: white;">
                                  <img src="images/locker.png"  style="height:80px"/>
                            </a></h1>
                        </section>
                        <br />
                        <br />
                        <h5 ng-show="!issentotp" style="text-align: center">Forget Password</h5>
                        <h5 ng-show="issentotp" style="text-align: center">Reset Password</h5>
                        <br />
                        
                            <fieldset>
                                
                                <div ng-show="!issentotp"> 
                                    <form name="otpForm" class="form-horizontal form-validation">
                                     <div class="additional-info text-center text-small" style="color: black; padding: 20px;"  >
                                    Please enter the Register Mobile no which has been sent to your verification code.
                                </div>
                                <div class="form-group" style="margin-bottom: 7px;">
                                    <br />
                                    <md-input-container flex="">
                                        <md-icon class="zmdi zmdi-face"></md-icon>
                                        <input required 
                                               type="text"
                                               name="contactno" 
                                               ng-maxlength="10"
                                               ng-minlength="10"
                                               ng-pattern="/^[0-9]*$/"
                                               ng-model="forgetpaasord.username"
                                                class="form-control" />
											     <span class="input-bar"></span>
                                        <label>Mobile no</label>
                                         <div ng-messages="otpForm.contactno.$error" multiple ng-if='otpForm.contactno.$dirty'> 
											        <div ng-message="pattern">Enter a valid Numbers.</div>
                                                    <div ng-message="required">Mobile No is required.</div>
                                             <div ng-message="minlength">Mobile No must be atleast 10 characters long</div>
                                                     <div ng-message="maxlength">Mobile No up to 10 characters</div>
											    </div>
                                    </md-input-container>
                                </div>
                                <br />
                                <div class="form-group" >
                                        <button style="margin-top: 8px" class="md-block md-clear md-button md-ink-ripple" data-ng-disabled="!canSubmit(otpForm)"   ng-click="sentotp()" type="button" aria-label="login"><span class="ng-scope">GET OTP</span></button>
                                </div>
                                        </form>
                                </div>
                               
                                 <div ng-show="issentotp"> 
                                     <form name="loginForm" class="form-horizontal form-validation">
                                     <div class="additional-info text-center text-small" style="color: black; padding: 20px;"  >
                                    Please enter the OTP which has been sent to your mobile no.
                                </div>
                                <div class="form-group" style="margin-bottom: 7px;">
                                    
                                    <md-input-container flex="">
                                        <label>OTP</label>
                                        <input required 
                                               type="text"
                                               name="otp" 
                                            ng-maxlength="4"
                                                       ng-minlength="4"
                                            ng-model="userlogin.otp"
                                                class="form-control" />
											     <span class="input-bar"></span>
                                        <div ng-messages="loginForm.otp.$error" multiple ng-if='loginForm.otp.$dirty'> 
                                                   <div ng-message="required">OTP is required.</div>
                                                     <div ng-message="maxlength">OTP up to 4 characters</div>
                                                   <div ng-message="minlength">OTP must be atleast 4 characters long</div>
											    </div>
                                    </md-input-container>
                                    <md-input-container flex="">
                                                <label class="mandatory">Password</label>
                                                <input  id="password-field" 
                                              type="{{hidepassword}}"
                                                       name="password"
                                                       ng-model="userlogin.password"
                                                       required
                                                       ng-pattern="/^(?=\D*\d)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z]).{6,30}$/"
                                                       ng-maxlength="20"
                                                       ng-minlength="6"
                                                       />
                                                  <div class="showic" style="position: absolute;    right: 0px;">
                                                <md-icon style="display: inline-block!important;" ng-if="ispasswordview" ng-click="changepasswordtype('P')" class="zmdi zmdi-eye"></md-icon>
                                                <md-icon style="display: inline-block!important;" ng-if="!ispasswordview" ng-click="changetypepassword('P')" class="zmdi zmdi-eye-off"></md-icon>
                                                 </div>
                                               <div ng-messages="loginForm.password.$error" multiple ng-if='loginForm.password.$dirty'> 
                                                   <div ng-message="required">Password is required.</div>
                                                     <div ng-message="maxlength">Password up to 20 characters</div>
                                                   <div ng-message="minlength">Password must be atleast 6 characters long</div>
                                                   <div ng-message="pattern">Your Password must cantain atleast one uppercase,one lowercase and one Number</div>
											    </div>
                                            </md-input-container>
                                     <md-input-container flex="">
                                        <label class="mandatory">Confirm Password</label>
                                        <input required 
                                               type="password"
                                               name="confirmpassword" 
                                               ng-model="userlogin.confirmpassword"
                                               ng-pattern="/^(?=\D*\d)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z]).{6,30}$/"
                                               ng-maxlength="20"
                                               ng-minlength="6"
                                                class="form-control" />
											     <span class="input-bar"></span>
                                        <div ng-messages="loginForm.confirmpassword.$error" multiple ng-if='loginForm.confirmpassword.$dirty'> 
                                            <div ng-message="required">Confirm Password is required.</div>
                                                     <div ng-message="maxlength">Confirm Password up to 20 characters</div>
                                                   <div ng-message="minlength">Confirm Password must be atleast 6 characters long</div>
                                                   <div ng-message="pattern">Confirm Password must cantain atleast one uppercase,one lowercase and one Number</div>

                                                  
											    </div>
                                    </md-input-container>
                                </div>
                                <br />
                                <div class="form-group" >
                                        <button style="margin-top: 8px" class="md-block md-clear md-button md-ink-ripple" data-ng-disabled="!canSubmit(loginForm)"  ng-click="updatepassword()" type="button" aria-label="login"><span class="ng-scope">Submit</span></button>
                                </div>
                                         </form>
                                </div>
                                <div class="form-group">
                                    <a href="#/page/signin.html" style="COLOR: BLACK;">

                                        <button style="margin-top: 8px" class="md-block md-clear md-button md-ink-ripple"  type="button" aria-label="login"><span class="ng-scope">Cancel</span></button>
                                    </a>
                                        
                                </div>
                            </fieldset>
                        
                    </div>

                </div>












            </div>
        </div>

    </div>
</div>

