<div class="ng-scope" data-ng-controller="homeDashCtrl">
    <div class="col-md-12 padd" style="padding:0px;margin-top:100px; background: url(app/images/pattern-icons.png)">
        <div class="container">
            <div ng-show="isSuperAdmin" style="display: inline-block;width: 100%;height: 100%;cursor:pointer">


                <div class="col-md-12 panel">
                    <div class="col-sm-2 col-xs-6 text-center border-right p-0">
                        <div>
                            <h4>New Task</h4>
                            <span class="dashdot" style="    color: black;
                                border-color: #c3c3c3;"> {{booking.newtask}}
                            </span>
                        </div>

                    </div>
                    <div class="col-sm-2 col-xs-6 text-center border-right p-0">
                        <div>
                            <h4>Active Task</h4>
                            <span class="dashdot" style="color: #44ca44;
                                border-color: #4aca44;"> {{booking.activetask}}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6 text-center border-right p-0">
                        <div>
                            <h4>Completed Task </h4>
                            <span class="dashdot" style="color: #0197d9;
                                border-color: #0197d9;">{{booking.completedtask}}
                            </span>
                        </div>

                    </div>
                    <div class="col-sm-2 col-xs-6 text-center border-right">
                        <div>
                            <h4 style="display: inline-block;">Waiting for Verify </h4>
                            <span>(By Store)</span>
                            <span class="dashdot" style="    color: #f35e31;
                                border-color: #f35e31;">{{booking.verifytask}}
                            </span>
                        </div>

                    </div>
                    <div class="col-sm-2 col-xs-6 text-center p-0 border-right">
                        <div ng-click="redirectpage(2)"  >
                                <h4 style="display: inline-block;">Waiting for Approval</h4>
                                <span>(ISP/Agency)</span>
                            <span class="dashdot" style="color: #20e2ea;
                                border-color: #20e2ea;">{{booking.verifyagent}}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6 text-center p-0">
                        <div ng-click="redirectpage(3)" >
                            <h4 style="display: inline-block;">Critical Enddate Task </h4>
                            <span class="dashdot" style="color: red;
                                border-color: red;">{{booking.criticaktask}}
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mar">
                <!--<div class="col-sm-6">
                    <div class="panel">
                        <div id="container"></div>
                    </div>
                </div>-->
                <div class="col-sm-6">
                    <div class="panel ">
                        <h3 style="text-align: center; margin-bottom: 30px;">Tasks in Risk </h3>
                        <div class="col-md-12 table-responsive" style="height: 400px; overflow-y: scroll;">
                            <table class="table ">
                                <tr>
                                    <th>Overdue</th>
                                    <th>Project</th>
                                    <th>Task</th>
                                    <th>Deadline</th>
                                    <th>Target Count</th>
                                </tr>
                                <tr data-ng-repeat="rowData in booking.listoverdewtask">
                                    <td><span class="badge badge-green">{{rowData.overdew}} &nbsp; day</span></td>
                                    <td>{{rowData.projecttitle}}</td>
                                    <td>{{rowData.task}}</td>
                                    <td>{{rowData.deadline | date : 'MMMM d, y'}}</td>
                                    <td style="text-align:center">{{rowData.targetcount}}</td>
                                </tr>
                            
                            </table>
                        </div>


                    </div>
                </div>

                 <div class="col-sm-6">
                    <div class="panel ">
                        <h3 style="    text-align: center; margin-bottom: 30px;">Upcoming Deadlines</h3>
                        <div class="col-md-12 table-responsive">
                            <table class="table ">
                                <tr>
                                    <th>Target Count</th>
                                    <th>Task</th>
                                    <th>Deadline</th>
                                   

                                </tr>
                                <tr data-ng-repeat="rowData in booking.listdeadlinetask">
                                   <td style="text-align:center">{{rowData.targetcount}}</td>
                                    <td>{{rowData.task}}</td>
                                    <td>{{rowData.deadline | date : 'MMMM d, y'}}</td>
                                </tr>    
                            </table>
                        </div>
                    </div>
                </div>
            </div>

           <!-- <div class="row mar">
                <div class="col-sm-6">
                    <div class="panel">
                        <div id="barcontainer"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel">
                        <div id="container"></div>
                    </div>
                </div>
               
            </div> -->
        </div>
    </div>
</div>

<style>
    .panel {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin: 5px 0px 0px;
        display: inline-block;
        width: 100%;
    }

    @media (min-width: 768px) {
        .col-sm-6 {
            width: 50%;
            padding: 5px;
        }

        .mar {
            margin: -5px;
            display: flex;
            flex-wrap: wrap;
        }

        .mar .col-sm-6 {
            display: flex;
            flex-direction: column;
        }

        .col-sm-6 .panel {
            height: 100%;
        }

        .padd {
            padding: 20px !important;
            margin-top: 55px !important;
        }
    }

    .badge-grey {
        color: transparent;
    }

    .badge-green {
        color: rgb(80, 202, 80);
    }

    .badge-red {
        color: rgb(252, 118, 29);
    }

    .badge-blue {
        color: rgb(113, 113, 199);
    }

    .badge {

        display: inline-block;
        margin-top: 4px;
        background: transparent
    }

    .dashdot {
        font-weight: bold !important;
        border: 2px solid white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07058823529411765) inset;
    }

    .border-right {
        border-right: 1px solid #eee;
        height: 13rem;
    }

    span.bars {
        display: inline-block;
        width: 80px;
        background: #eee;
        border-radius: 30px;
        height: 13px;
        margin-top: 7px;
    }

    span.bars .fillbar {
        display: inline-block;
        height: 100%;
        background: #4CAF50;
        border-radius: 30px;
    }

    table td {
        vertical-align: middle;
    }

    table th {
        background: #eee;
    }
</style>