<div class="page-signup" ng-controller="authCtrl">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">

                <div class="card bg-white" style="    max-width: 500px;margin: auto;">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h1><a >Vendo</a></h1>
                            <h5 style="color:red">Please reset your default system generated password.</h5>
                        </section>
                            <ng-form name="pwd_form">
                                <div class="col-md-12" style="max-width:400px;margin:50px auto;float:inherit">
                                      <div class="form-group" style="margin-bottom: 7px;">
                                      <md-input-container>                                               
                                                <input required
                                                    ng-minlength="6"
                                                       type="password"
                                                       name="password"
                                                       ng-model="user.password" class="form-control"
                                                     />
                                                <span class="input-bar"></span>
                                                <label>Password</label>
                                                <div ng-messages="pwd_form.password.$error" multiple ng-if='pwd_form.password.$dirty'>
                                                    <div ng-message="required">Password is required.</div>
                                                    <div ng-message="minlength">Password must be atleast 6 characters long</div>
                                                </div>
                                            <div style="color:red" ng-show="isoldsamepwd">Old Password and New Password are same .</div>
                                            </md-input-container>
                                      </div>
                                      <div class="form-group" style="margin-bottom: 7px;">
                                      <md-input-container>                                               
                                                <input required
                                                       type="password"
                                                       name="confirmpassword"
                                                       ng-model="user.confirmpassword" class="form-control" />
                                                <span class="input-bar"></span>
                                                <label>Confirm Password</label>
                                                <div ng-messages="pwd_form.confirmpassword.$error" multiple ng-if='pwd_form.confirmpassword.$dirty'>
                                                    <div ng-message="required">Confirm Password is required.</div>
                                                </div>
                                                <div style="color:red" ng-show="issamepwd">Password and Confirm Password are not same .</div>
                                            </md-input-container>
                                      </div>
                                      <div class="col-sm-12 " style="text-align:right;padding-bottom: 20px;">
                                        <md-button class="md-raised"  ng-click="cancel()">Cancel</md-button>
                                        <md-button class="md-raised md-primary"  data-ng-disabled="!canSubmit_childform(pwd_form)" ng-click="ok()">Update</md-button>
                                      </div>
                                </div>
               
                     </ng-form>
                    </div>
                   
                </div> 

            </div>
        </div>
    </div>
</div>