<div class="ng-scope" data-ng-controller="TrackingCtrl">
    <div class="col-md-12" style="padding: 18px 0px 0px 0px; background: url(app/images/pattern-icons.png)">
        <div class="col-md-12">
            <div class="col-md-12" style="border-radius: 4px;     min-height: 85vh;
            margin-top: 10vh;">
                <div class="col-md-4" style="min-height: 85vh;  padding: 0px; box-shadow: -1px -2px 6px rgba(0, 0, 0, 0.058823529411764705); border-radius: 3px 0px 0px 3px; overflow: hidden; background: white;">
                    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex" style="overflow: visible;">
                        <md-tab label="Live Tracking" style="overflow: visible;">
                            <md-content class="md-padding" style="overflow: visible;">
                                <div class="panel-body" style="padding: 10px;">
                        <table style="width: 100%" class="table  table-responsive tripendhead">
                            <tr>
                                <th></th>
                                <th>ISP</th>
                                <th>Contact</th>
                            </tr>
                            <tr data-ng-repeat="user in listonlinedriver">
                                <td>
                                    <md-checkbox ng-change="addmarker(user)" ng-model="user.status"> </md-checkbox>
                                </td>
                                <td>{{user.firstname}} <small><span ng-if="user.lastname!=null">{{user.lastname}}</span></small>
                                </td>
                                <td></td>

                            </tr>
                        </table>
                    </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="History" >
                            <md-content >
                                <div layout='' layout-sm="column" class="layout-sm-column layout-row">
                                    <div class="col-md-3">
                                        <md-input-container style="margin-top: 30px!important;">
                                            <label>From Date</label>
                                                <div data-ng-controller="DatepickerDemoCtrl" style="display: inline-block; width: 100%">
                                                    <div class="input-group ui-datepicker" style="width: 100%">
                                                        <input type="text"
                                                            class="form-control"
                                                            name="Fromdate"
                                                            uib-datepicker-popup="dd/MM/yyyy"
                                                            ng-model="history.fromdate"
                                                            is-open="popup1.opened"
                                                            datepicker-options="dateOptions2"
                                                            min-date="minDate"
                                                            max-date="maxDate"
                                                            close-text="Close"
                                                            alt-input-formats="altInputFormats"
                                                            date-disabled="disabled(date, mode)"
                                                            alt-input-formats="dd/MM/yyyy"
                                                            close-text="Close"
                                                            ng-click="open1()" />
                                                    </div>
                                                </div>
                                        </md-input-container>
                                        </div>  
                                        <div class="col-md-3">
                                            <md-input-container style="margin-top: 30px!important;">
                                                <label>From Date</label>
                                                    <div data-ng-controller="DatepickerDemoCtrl" style="display: inline-block; width: 100%">
                                                        <div class="input-group ui-datepicker" style="width: 100%">
                                                            <input type="text"
                                                                class="form-control"
                                                                name="Fromdate"
                                                                uib-datepicker-popup="dd/MM/yyyy"
                                                                ng-model="history.todate"
                                                                is-open="popup1.opened"
                                                                datepicker-options="dateOptions2"
                                                                min-date="minDate"
                                                                max-date="maxDate"
                                                                close-text="Close"
                                                                alt-input-formats="altInputFormats"
                                                                date-disabled="disabled(date, mode)"
                                                                alt-input-formats="dd/MM/yyyy"
                                                                close-text="Close"
                                                                ng-click="open1()" />
                                                        </div>
                                                    </div>
                                            </md-input-container>
                                        </div>         
                                   
                                             
                                                 <div class="col-md-4">
                                                       <button  ng-click="runReport()" style="margin-top: 20px" class="md-raised btn-sm md-primary md-button md-ink-ripple" type="button" aria-label="View Salescalltracker"><span class="ng-scope">Go</span></button>
                                                 </div>
                                            </div>
                                <div class="panel-body" style="padding: 0px;">
                                     <md-radio-group ng-model="ddlbookinghistory">
                                            <table style="width: 100%" class="table  table-responsive tripendhead">
                                                <tr>
                                                   
                                                     <th></th>
                                <th>Task</th>
                                <th>Target</th>
                                <th>ISP</th>
                                <th>Date</th>
                                                </tr>
                                                <tr data-ng-repeat="history in listtriphistory">
                               <td>
                                 <md-radio-button ng-value="{{history.id}}" class="md-primary"  ng-click="gethistory(history.locationdata)">{{history.id}}</md-radio-button>
                               </td>
                                <td>{{history.tasktitle}}</td>
                                 <td>{{history.targetname}}</td>
                                <td>
                                    {{history.firstname}} <small><span ng-if="history.lastname!=null">{{history.lastname}}</span></small>
                                </td>
                                <td>{{history.eventdate}}</td>

                            </tr>
                                            </table>
                                        </md-radio-group>

                        
                </div>
                </md-content>
                        </md-tab>
                    </md-tabs>


                </div>
            <div class="col-md-8" style="min-height: 85vh; padding: 0px; box-shadow: -1px -2px 6px rgba(0, 0, 0, 0.058823529411764705); border-radius: 0px 3px 3px 0px; overflow: hidden; background: white;">
                <div style="" id="map_canvas"></div>
            </div>
        </div>
    </div>
</div>
</div>
<style>
    div#map_canvas {
        position: unset!important;
    }
    md-tab-content,md-content{
        overflow: visible!important;}

    
</style>
