
.layout-boxed {
    > .header-container {
        .top-header {
            max-width: $boxed_layout_width;
            margin: 0 auto;
        }
    }

    > .main-container {
        max-width: $boxed_layout_width;
        margin: 0 auto;
    }
}

.body-wide {
    &.app > .main-container > .nav-container,
    &.app > .main-container > .content-container,
    .header-container > .top-header .logo,
    .header-container > .top-header .top-nav {
        @include transition(none);
    }
}


html {
    position: relative;
    min-height: 100%; // important!
    height: 100%; // important!
    background: none; // important!, fix angular-material css cause sidebar background to break bug
}

// default
.app {
    position: relative;
    min-height: 100%; // important!
    height: 100%; // important!

    > .header-container {
        &.header-fixed {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: $zindex-navbar-fixed;

            & + .main-container {
                padding-top: $header_height * 2;
                @media (min-width:$screen-sm) {
                    padding-top: $header_height;
                }
            }

        }

        .top-header {}
    }

    > .main-container {
        position: relative;
        min-height: 100%; // important!
        padding-bottom: 0;
        &:before { // content container background for boxed layout
            content: " ";
            line-height: 0;
            z-index: -2; // so that it is beneath sidebar
            position: absolute;
            display: block;
            width: 100%;
            max-width: inherit; //
            top: 0;
            bottom: 0;
            background-color: #e2e2e2;
            box-shadow: 0 -2px 2px rgba(0,0,0,.2);
        }

        > .nav-vertical {
            &:before {
                left: 0;
            }
        }

        > .nav-container {
            display: none;
            z-index: 11; // should be highter than top header
            position: static;
            float: left;
            width: 185px;
            @include transition(width .25s ease-in-out);
            // border-width: 0 1px 0 0;
            // border-style: solid;
            // border-color: darken($sidebar_bg, 10%);
            @media (min-width:$screen-sm) {
                display: block;
            }
            &:before {
                z-index: -1; // so that it is beneath top header
                content: " ";
                line-height: 0;
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                width: inherit;
                background-color: inherit;
                border-width: inherit;
                border-style: inherit;
                border-color: inherit;
            }
            &.nav-fixed {
                position: fixed;
                top: $header_height * 2;
                bottom: 0;
                float: none;
                @media (min-width:$screen-sm) {
                    top: $header_height;
                }
            }


        }

        > .content-container {
            overflow: hidden;
            min-height: 100%;
            margin-left: 0;
            // @include transition(none);
            @include transition(margin-left .25s ease-in-out);
            @media (min-width:$screen-sm) {
                margin-left: 185px;
            }
        }

    }

}


ul.mainhomeli li{background:white;color:red;font-size:30px}



.storetable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.storetable td, .storetable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.table td:last-child {
    padding: 1px!important;
}



table.table td {
    white-space: nowrap;
}

.app{font-size:13px;}.md-button.md-icon-button {
    margin: 0 1px;
    height: 27px;
    min-width: 0;
    line-height: 17px;
    padding: 6px;
    width: 27px;
    border-radius: 5px;
    min-height: inherit;
}
md-autocomplete input:not(.md-input) {font-size:13px!important;}
md-input-container>md-select{margin-bottom:25px}

span.errro {
    color: red;
    font-size: 10px;
}md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0, 7px, 0) scale(0.89);
}
md-option{    height: 37px;}md-option .md-text{    font-size: 14px;}
.form-validation md-input-container:not(.md-input-invalid).md-input-has-value > md-icon {
    color: #c1c1c1;
}
.tabby{
button.md-clear{
    border-bottom: 2px solid transparent;
	 border-radius: 0px;
    padding: 6px 15px;
	font-size:14px;

}

 button.md-clear.active {
    border-bottom: 2px solid #ed3338;
   
}
}label.mandatory:before {
    content: '*';
    position: absolute;
    color: red;
    left: -6px;
}md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder,md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
    color: rgba(0,0,0,0.54);
}.input-group.ui-datepicker input {
    font-size: 12px;
}